<div class="register-form-wrapper container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-3">
            <h5 class="mt-5 mb-4">Update your basic profile details.</h5>
          </div>
          <div
            class="col-12 p-0"
            v-if="selectedUserType === userTypes.individual.title"
          >
            <div class="col-12 mb-3">
              <label>First Name <span>*</span></label>
              <!-- prettier-ignore -->
              <InputText class="inputText" :error="registerValidation.firstname" errorText="Enter your first name"
                placeholder="Enter First Name" id="firstname" :value="individualUserDetails.firstname"
                @value="updateUserDetails('firstname', $event)" />
            </div>
            <div class="col-12 mb-3">
              <label>Last Name <span>*</span></label>
              <!-- prettier-ignore -->
              <InputText class="inputText" :error="registerValidation.lastname" errorText="Enter your last name"
                placeholder="Enter Last Name" id="lastname" :value="individualUserDetails.lastname"
                @value="updateUserDetails('lastname', $event)" />
            </div>

            <div class="col-12 mb-3">
              <label>Email <span>*</span></label>
              <!-- prettier-ignore -->
              <InputText class="inputText" :error="registerValidation.email" errorText="Enter valid email address"
                placeholder="Enter Email" id="email" :value="individualUserDetails.email"
                @value="updateUserDetails('email', $event)" />
            </div>

            <div class="col-12 mb-3">
              <label>Contact Number <span>*</span></label>
              <!-- prettier-ignore -->
              <InputText class="inputText" :error="registerValidation.contactNumber"
                errorText="Enter valid contact number with country code" placeholder="Enter Contact Number"
                id="contactNumber" :value="individualUserDetails.contactNumber"
                @value="updateUserDetails('contactNumber', $event)" />
            </div>
            <div class="col-12 mb-3">
              <label>Whatsapp Number <span>*</span></label>
              <!-- prettier-ignore -->
              <InputText class="inputText" :error="registerValidation.whatsappNumber"
                errorText="Enter valid contact number with country code" placeholder="Enter Whatsapp Number"
                id="whatsappNumber" :value="individualUserDetails.whatsappNumber"
                @value="updateUserDetails('whatsappNumber', $event)" />
            </div>
            <div class="col-12 mb-4">
              <Checkbox
                :value="individualUserDetails.nl"
                label="I want to receive the newsletter"
                @change="updateUserDetails('nl', Number($event.value))"
              />
            </div>
            <div
              class="col-12 mt-2 mb-5 d-flex justify-content-between align-items-center button-wrapper"
            >
              <!-- prettier-ignore -->
              <Button type="hollow" text="Cancel" class="mr-3" @click="cancelLogin()" />
              <!-- prettier-ignore -->
              <Button type="primary" text="Update Profile" @click="submitLogin()" />
            </div>
          </div>

          <!-- COMPANY USER FORM -->

          <div
            class="col-12 p-0"
            v-if="selectedUserType === userTypes.company.title"
          >
            <div class="col-12 mb-3">
              <label>First Name <span>*</span></label>
              <!-- prettier-ignore -->
              <InputText class="inputText" :error="registerValidation.firstname" errorText="Enter your first name"
                placeholder="Enter First Name" id="firstname" :value="companyUserDetails.firstname"
                @value="updateUserDetails('firstname', $event)" />
            </div>
            <div class="col-12 mb-3">
              <label>Last Name <span>*</span></label>
              <!-- prettier-ignore -->
              <InputText class="inputText" :error="registerValidation.lastname" errorText="Enter your last name"
                placeholder="Enter Last Name" id="lastname" :value="companyUserDetails.lastname"
                @value="updateUserDetails('lastname', $event)" />
            </div>
            <div class="col-12 mb-3">
              <label>Business Name <span>*</span></label>
              <!-- prettier-ignore -->
              <InputText class="inputText" :error="registerValidation.businessName" errorText="Enter your business name"
                placeholder="Enter Business Name" id="businessName" :value="companyUserDetails.businessName"
                @value="updateUserDetails('businessName', $event)" />
            </div>
            <div class="col-12 mb-3">
              <label>Contact Number <span>*</span></label>
              <!-- prettier-ignore -->
              <InputText class="inputText" :error="registerValidation.contactNumber"
                errorText="Enter valid contact number with country code" placeholder="Enter Contact Number"
                id="contactNumber" :value="companyUserDetails.contactNumber"
                @value="updateUserDetails('contactNumber', $event)" />
            </div>
            <div class="col-12 mb-3">
              <label>Whatsapp Number <span>*</span></label>
              <!-- prettier-ignore -->
              <InputText class="inputText" :error="registerValidation.whatsappNumber"
                errorText="Enter valid contact number with country code" placeholder="Enter Whatsapp Number"
                id="whatsappNumber" :value="companyUserDetails.whatsappNumber"
                @value="updateUserDetails('whatsappNumber', $event)" />
            </div>
            <div class="col-12 mb-3">
              <label>Email <span>*</span></label>
              <!-- prettier-ignore -->
              <InputText class="inputText" :error="registerValidation.email" errorText="Enter valid email"
                placeholder="Enter Email" id="email" :value="companyUserDetails.email"
                @value="updateUserDetails('email', $event)" />
            </div>
            <div class="col-12 mb-3">
              <label>Address <span>*</span></label>
              <!-- prettier-ignore -->
              <InputText class="inputText" :error="registerValidation.address" errorText="Enter your address"
                placeholder="Enter Address *" id="address" :value="companyUserDetails.address"
                @value="updateUserDetails('address', $event)" />
              <InputText
                class="inputText"
                :error="registerValidation.streetAddress"
                errorText="Enter your street address"
                placeholder="Enter Street Address *"
                id="streetAddress"
                :value="companyUserDetails.streetAddress"
                @value="updateUserDetails('streetAddress', $event)"
              />
              <InputText
                class="inputText"
                placeholder="Enter Address Line 2"
                id="addressLine2"
                :value="companyUserDetails.addressLine2"
                @value="updateUserDetails('addressLine2', $event)"
              />
              <InputText
                class="inputText"
                :error="registerValidation.emirate"
                errorText="Enter your emirate"
                placeholder="Enter Emirate *"
                id="emirate"
                :value="companyUserDetails.emirate"
                @value="updateUserDetails('emirate', $event)"
              />
              <InputText
                class="inputText"
                :error="registerValidation.postalCode"
                errorText="Enter your postal code"
                placeholder="Enter Postal/Zip Code"
                id="postalCode"
                :value="companyUserDetails.postalCode"
                @value="updateUserDetails('postalCode', $event)"
              />
            </div>

            <div class="col-12 mb-3">
              <label>Social media links (if any)</label>
              <!-- prettier-ignore -->
              <InputText class="inputText" placeholder="Enter Facebook url" id="facebook"
                :value="companyUserDetails.facebook" @value="updateUserDetails('facebook', $event)" />
              <InputText
                class="inputText"
                placeholder="Enter Instagram url"
                id="instagram"
                :value="companyUserDetails.instagram"
                @value="updateUserDetails('instagram', $event)"
              />
              <InputText
                class="inputText"
                placeholder="Enter LinkedIn url"
                id="linkedin"
                :value="companyUserDetails.linkedin"
                @value="updateUserDetails('linkedin', $event)"
              />
            </div>

            <div class="col-12 mb-4">
              <Checkbox
                :value="companyUserDetails.nl"
                label="I want to receive the newsletter"
                @change="updateUserDetails('nl', Number($event.value))"
              />
            </div>
            <div
              class="col-12 mt-2 mb-5 d-flex justify-content-between align-items-center button-wrapper"
            >
              <!-- prettier-ignore -->
              <Button type="hollow" text="Cancel" class="mr-3" @click="cancelLogin()" />
              <!-- prettier-ignore -->
              <Button type="primary" text="Update Profile" @click="submitLogin()" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
