.btn {
  padding: 10px 25px;
  border-radius: 0.12rem;
  border: none;
  color: white;
  background: $purple;
  transition: 0.3s ease;

  &:hover {
    background: $purple-70;
    svg {
      transform: rotate(360deg);
    }
  }
  &.primary {
    background: $purple;
    &:hover {
      background: $purple-70;
    }
  }
  &.secondary {
    background: $black;
    &:hover {
      background: rgba($black, 0.7);
    }
  }
  &.green {
    background: $green;
    &:hover {
      background: rgba($green, 0.85);
    }
  }
  &.red {
    background: $red;
    &:hover {
      background: rgba($red, 0.85);
    }
  }
  &.hollow {
    background: transparent;
    border: 1px solid $purple;
    color: $purple;
    &:hover {
      background: rgba($purple, 0.7);
      color: $white;
    }
  }
  &.small {
    padding: 5px 15px;
    font-size: 12px;
  }
  svg {
    font-size: 1.5rem;
    transition: 0.3s ease;
    transform: rotate(0deg);
    &.small-font {
      font-size: 0.875rem;
      margin-right: 10px;
    }
  }
}
