.profile-wrapper {
  min-height: 500px;
  table {
    td,
    th {
      vertical-align: middle;
      &.action {
        display: inline-flex;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .ads-wrapper {
    margin-top: 40px !important;
  }
}
