<div class="container profile-wrapper my-4">
  <div class="row">
    <div class="col-12 mb-3 p-md-0">
      <label>Select Category <span>*</span></label>
      <!-- prettier-ignore -->
      <Select :options="mainCategoryList"
        placeholder="Select Category" @selectValue="setPageCategory($event)" :selected="page" />
    </div>
    <div class="col-12 mb-md-5 mb-3 mt-3 p-md-0">
      <ul class="nav nav-tabs w-100" v-if="page == 'classifieds'">
        <li class="nav-item" role="button" v-for="item in classifiedsCategoryList">
          <a
            class="nav-link"
            :class="item.id==type && 'active'"
            @click="getMyAds(item.id)"
            >{{item.name}}</a
          >
        </li>
      </ul>
      <ul class="nav nav-tabs w-100" v-else-if="page == 'spare-parts'">
        <li class="nav-item" role="button" v-for="item in spareCategoryList">
          <a
            class="nav-link"
            :class="item.id==type && 'active'"
            @click="getMyAds(item.id)"
            >{{item.title}}</a
          >
        </li>
      </ul>
      <ul class="nav nav-tabs w-100" v-else-if="page == 'garages'">
        <li class="nav-item" role="button" v-for="item in garageCategoryList">
          <a
            class="nav-link"
            :class="item.id==type && 'active'"
            @click="getMyAds(item.id)"
            >{{item.title}}</a
          >
        </li>
      </ul>
    </div>
    <div class="col-12 mb-5 p-md-0" v-if="!adInfo">
      <h5 class="d-flex justify-content-center align-items-center">
        {{page && type ? 'No Ads Found!!!' : 'Select any category to see the ads you posted!' }}
      </h5>
    </div>
    <div class="col-12 px-lg-0 px-3 table-wrapper mb-5" v-else>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#Id</th>
            <th scope="col">Date Created</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="ad in adInfo">
            <td>{{ad.id}}</th>
            <td>{{formatDate(ad.date)}}</td>
            <td v-if="ad.desc">{{ad.desc}}</td>
            <td v-else-if="ad.name">{{ad.name}}</td>
            <td v-else-if="ad.brand && ad.model">{{ad.brand}} {{ad.model}} {{ad.trim}}</td>
            <td v-else>-</td>
            <td>{{Boolean(Number(ad.approved)) ? "Approved" : "Not Approved"}}</th>
            <td class="action">
              <!-- prettier-ignore -->
              <Button v-if="Boolean(Number(ad.approved))" type="small" text="View Ad" @click="viewAd(ad.id)" class="mr-2" />
              <!-- prettier-ignore -->
              <Button type="red small" text="Delete " @click="deleteAd(ad.id)" class="mr-2" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
