.open-times-wrapper {
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    span {
      width: 50%;
    }
    > div {
      margin: 0 10px;
    }
  }
  &.error {
    > span {
      color: rgba($red, 0.8);
      font-size: 0.85rem;
    }
  }
}
