<div class="star-wrapper">
  <section @click="showReviews">
    <span v-for="i in roundedValue">
      <font-awesome-icon :icon="['fas', 'star']" class="selected" />
    </span>
    <span v-if="halfStar">
      <font-awesome-icon :icon="['fas', 'star-half-alt']" class="selected" />
    </span>
    <span v-for="i in remainingStarValue">
      <font-awesome-icon :icon="['fas', 'star']" />
    </span>
    <span class="ml-2 rating-value">{{actualValue}}</span>
    <div class="review-link">view reviews</div>
  </section>

  <ReviewModal
    class="small"
    v-if="showReviewModal"
    :data="reviewData"
    @close="closeReviewModal"
    @addReview="showAddModal"
    :pageType="pageType"
    :pageId="pageId"
  />
  <AddReview
    class="small"
    v-if="addModal"
    @close="closeAddModal"
    :pageType="pageType"
    :pageId="pageId"
  />
</div>
