<div class="motorcycles-wrapper">
  <div class="col-12 mb-3">
    <label>
      Select Brand
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="brandsList" :error="newPostValidation.brand" id="brand" errorText="Select Brand" :selected="newPost.brand" placeholder="Select Brand"
    @selectValue="updatePostData('brand', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Select Model
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="modelsList" :error="newPostValidation.model" id="model" errorText="Select Model" :selected="newPost.model" placeholder="Select Model"
    @selectValue="updatePostData('model', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>Select Trim</label>
    <!-- prettier-ignore -->
    <Select :options="trimList" :error="newPostValidation.trim" id="trim" errorText="Select Trim" :selected="newPost.trim" placeholder="Select Trim"
    @selectValue="updatePostData('trim', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Select SubCategory
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.motorcycleSubcateList()" :error="newPostValidation.subcategory" id="subcategory" :selected="newPost.subcategory" errorText="Select SubCategory" placeholder="Select SubCategory"
    @selectValue="updatePostData('subcategory', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Enter Name
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <InputText class="inputText" :error="newPostValidation.name" errorText="Enter Name" placeholder="Enter Name"
    id="name" :value="newPost.name" @value="updatePostData('name', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Phone
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <InputText class="inputText" :error="newPostValidation.phone" errorText="Enter Phone Number with Country Code"
    placeholder="Enter Phone Number with Country Code" id="phone" :value="newPost.phone" @value="updatePostData('phone', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>Whatsapp Number <span>*</span></label>
    <!-- prettier-ignore -->
    <InputText class="inputText" :error="newPostValidation.whatsappNumber"
      errorText="Enter valid Whatsapp Number with country code" placeholder="Enter Whatsapp Number with Country Code"
      id="whatsappNumber" :value="newPost.whatsappNumber"
      @value="updatePostData('whatsappNumber', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Email
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <InputText class="inputText" :error="newPostValidation.email" errorText="Enter Email Address"
    placeholder="Enter Email Address" id="email" :value="newPost.email" @value="updatePostData('email', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Location
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.emiratesLocationList()" :error="newPostValidation.place" errorText="Select Place" :selected="newPost.place"
      placeholder="Select Place" @selectValue="updatePostData('place', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>Display Picture<span>*</span></label>
    <!-- prettier-ignore -->
    <InputFile class="inputText" :error="newPostValidation.displayPicture" errorText="Choose a valid display picture"
    type="file" accept="image/*" placeholder="Select a Display picture" name="displayPicture" id="displayPicture"
    :value="newPost.displayPicture" @value="updatePostData('displayPicture', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Upload 10 gallery images (Minimum of 1 image)
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <InputFile class="inputText" :error="newPostValidation.galleryImages" errorText="Choose gallery images (minimum 1)"
    type="file" accept="image/*" multiple name="galleryImages[]" id="galleryImages" :value="newPost.galleryImages"
    @value="updatePostData('galleryImages', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Select Final Drive System
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.motorCyclefDSystemList()" :error="newPostValidation.finalDriveSystem" errorText="Select Final Drive System"
    placeholder="Select Final Drive System" @selectValue="updatePostData('finalDriveSystem', $event)" id="finalDriveSystem" :selected="newPost.finalDriveSystem" />
  </div>
  <div class="col-12 mb-3">
    <label>Select Wheels</label>
    <!-- prettier-ignore -->
    <Select :options="utils.wheelsDropdownValues()" :error="newPostValidation.wheels" errorText="Select Wheels" placeholder="Select Wheels"
    @selectValue="updatePostData('wheels', $event)" id="wheels" :selected="newPost.wheels" />
  </div>
  <div class="col-12 mb-3">
    <label>Select Engine Size </label>
    <!-- prettier-ignore -->
    <Select :options="utils.motorCycleEngineSizeList()" :error="newPostValidation.engineSize" errorText="Select Engine Size " placeholder="Select Engine Size "
    @selectValue="updatePostData('engineSize', $event)" id="engineSize" :selected="newPost.engineSize" />
  </div>

  <div class="col-12 mb-3">
    <label>Select Regional spec </label>
    <!-- prettier-ignore -->
    <Select :options="utils.motorCycleRegionalSpecList()" :error="newPostValidation.regionalSpec" errorText="Select Regional spec " placeholder="Select Regional spec "
    @selectValue="updatePostData('regionalSpec', $event)" id="regionalSpec" :selected="newPost.regionalSpec" />
  </div>
  <div class="col-12 mb-3">
    <label>Price <span>*</span></label>
    <!-- prettier-ignore -->
    <InputText class="inputText" :error="newPostValidation.priceToPrice" errorText="Enter Price" placeholder="Enter Price"
    id="priceToPrice" :value="newPost.priceToPrice" @value="updatePostData('priceToPrice', $event)" type="number" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Select Exterior Color
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.colorDropDownValues()" :error="newPostValidation.exteriorColor"
    errorText="Select Exterior Color" placeholder="Select Exterior Color"
    @selectValue="updatePostData('exteriorColor', $event)" id="exteriorColor" :selected="newPost.exteriorColor" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Body Condition
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.bodyConditionDropDownValues()" :error="newPostValidation.bodyCondition"
    errorText="Select Body Condition" placeholder="Select Body Condition"
    @selectValue="updatePostData('bodyCondition', $event)" id="bodyCondition" :selected="newPost.bodyCondition" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Mechanical Condition
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.mechanicalConditionDropDownValues()" :error="newPostValidation.mechanicalCondition"
    errorText="Select Mechanical Condition" placeholder="Select Mechanical Condition"
    @selectValue="updatePostData('mechanicalCondition', $event)" id="mechanicalCondition" :selected="newPost.mechanicalCondition" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Select Seller Type
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.sellerTypes(loginInfo.userType)" :error="newPostValidation.sellerType" errorText="Select Seller Type"
    placeholder="Select Seller Type" @selectValue="updatePostData('sellerType', $event)" id="sellerType" :selected="newPost.sellerType" />
  </div>
  <div class="col-12 mb-3">
    <label> Video Link </label>
    <!-- prettier-ignore -->
    <InputText class="inputText" :error="newPostValidation.video" errorText="Enter valid youtube video link"
    placeholder="Enter youtube video link" id="video" :value="newPost.video" @value="updatePostData('video', $event)" />
  </div>
  <div
    class="col-12 mt-3 mb-5 d-flex justify-content-between align-items-center button-wrapper"
  >
    <!-- prettier-ignore -->
    <Button type="hollow" text="Cancel" class="mr-3" @click="cancelPost()" />
    <!-- prettier-ignore -->
    <Button type="primary" text="Submit Post" @click="submitPost()" />
  </div>
</div>
