<div class="garage-list-wrapper">
  <div class="row sticky-head">
    <div class="col-12 mt-3 mb-2">
      <div class="top-tabs">
        <div
          class="tab"
          :class="garageCategory === 'deals' && 'active'"
          @click="updateGarageCategory('deals')"
        >
          <font-awesome-icon :icon="['fas','bolt']" />View Deals
        </div>

        <div
          class="tab"
          :class="garageCategory === 'browse' && 'active'"
          @click="updateGarageCategory('browse')"
        >
          <font-awesome-icon :icon="['fas', 'warehouse']" />Browse Garages
        </div>
      </div>
      <div class="filter-wrapper mt-3 d-flex justify-content-end">
        <!-- prettier-ignore -->
        <Button type="hollow" text="Add Your Garage" class="mr-3" @click="addGarage()" v-if="showNewPost" />
        <!-- prettier-ignore -->
        <Button type=" red small" text="Clear Filter" @click="clearFilter" v-if="isFilter && garageCategory === 'browse'" class="mr-3" />
        <font-awesome-icon
          :icon="['fas', 'sliders-h']"
          @click="filterToggle"
          v-if="garageCategory === 'browse'"
        />
        <GarageFilter
          :data="garageList"
          @close="filterToggle"
          v-if="filterEnabled"
          @filteredData="updatePostData($event)"
        />
      </div>
    </div>
  </div>
  <div v-if="garageList && garageList.length">
    <div
      class="row mb-5 pb-2 pt-3 garage-list-container"
      v-if="garageCategory === 'browse'"
    >
      <div
        class="col-12 col-md-6 mb-3 mb-md-4 pb-1 d-flex"
        v-for="garages in garageList"
      >
        <div class="garage-list p-3" @click="garageDetails(garages.id)">
          <div class="garage-list-head">
            <div>
              <h5 class="mb-1">
                {{garages.name}}
                <font-awesome-icon
                  :icon="['fas','bolt']"
                  v-if="garages.isDeals"
                />
              </h5>
              <!--Star pageType="garage" :pageId="Number(garages.id)" /-->
              <p class="mb-1 mt-4">
                <font-awesome-icon :icon="['fas','map-marker-alt']" />
                {{garages.place}}
              </p>
            </div>
            <img
              v-if="garages.profilePicture"
              :src="getProfilePic(garages)"
              class="garage-dp img-fluid"
            />
          </div>

          <div class="garage-service-wrapper mt-3">
            <div v-for="service in getServiceList(garages.services)">
              <span><font-awesome-icon :icon="service.icon" /></span>
              <p>{{service.title}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="row mb-5 pb-2 pt-3 garage-list-container deals-container"
      v-else
    >
      <div
        class="col-12 col-md-6 mb-3 mb-md-4 pb-1 d-flex"
        v-for="deal,index in garageDeals"
      >
        <div class="garage-list p-3" @click="garageDetails(deal.garageId)">
          <h5 class="mb-1">
            <em>{{deal.title}}</em>
            <span>
              <font-awesome-icon
                :icon="['far', 'calendar-alt']"
                class="mr-1"
              />{{formatDate(deal.start)}}
              <strong>to</strong> {{formatDate(deal.end)}}</span
            >
          </h5>
          <div class="deal-poster mt-2">
            <img
              :src="getImagePath(deal.dealBanner, deal.imageFolder)"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    v-else
    class="col-12 d-flex flex-column justify-content-center align-items-center no-result"
  >
    <img src="../../assets/no-results.png" class="img-fluid" />
    <h6>No Garages/Deals Found!!</h6>
    <p class="my-2">try changing the filters</p>
  </div>
</div>
