.lease-details-wrapper {
  div[class*="col-"] {
    display: flex;
  }
  > .row {
    position: relative;
    .back-btn {
      position: absolute;
      top: -15px;
      right: 0;
      z-index: 98;
      padding: 10px !important;
      ::v-deep svg {
        font-size: 1.1rem;
      }
    }
    ::v-deep .VueCarousel-pagination {
      position: absolute;
      bottom: 5px;
      z-index: 9;
      > div {
        margin-top: 0 !important;
      }
      button {
        width: 6px !important;
        height: 6px !important;
        margin-top: 0 !important;
        padding: 3px !important;
        background-color: $white !important;
        &.VueCarousel-dot--active {
          background-color: $purple !important;
        }
      }
    }
  }

  .shadow-container {
    width: 100%;
    box-shadow: $shadow-small;
    transition: 0.3s ease;
    border-radius: 5px;
    &:hover,
    &:active,
    &:focus {
      box-shadow: $shadow-purple;
    }

    .phone {
      display: flex;
      justify-content: space-between;
      background-color: $white;
      flex-wrap: wrap;
      button {
        flex: 0 0 48%;
        padding: 10px 15px !important;
        &:nth-child(1) {
          margin-right: 1%;
        }
        &:nth-child(2) {
          margin-left: 1%;
        }
        &:last-child {
          flex-basis: 100%;
          margin: 15px 0 0;
        }
      }
    }
    .header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .rental-price {
        font-size: 1.5rem;
        font-weight: 700;
        font-family: $secondary-font;
        color: $red;
        width: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        span {
          color: rgba($black, 0.5);
          font-weight: 400;
          font-size: 0.875rem;
        }
      }
    }
    .list-view-price {
      display: flex;
      justify-content: space-between;
      border: 1px solid rgba($black, 0.3);
      background-color: rgba($black, 0.9);
      border-radius: 5px;
      > div {
        padding: 10px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        border-radius: 4px;
        border-right: 1px solid rgba($white, 0.2);
        width: 100%;
        cursor: pointer;
        transition: 0.3s ease;
        &:last-child {
          border: none;
        }
        span {
          text-transform: uppercase;
          font-size: 0.875rem;
          font-weight: 500;
          color: $white;
          transition: 0.3s ease;
          &:nth-child(2) {
            font-size: 1rem;
            font-weight: 700;
            color: $light-green;
          }
        }
        &:hover {
          background-color: rgba($light-green, 0.4);
          span {
            color: $white;
            &:nth-child(2) {
              color: rgba($black, 0.9);
            }
          }
        }
      }
    }
    .featured {
      color: $purple;
      font-size: 0.75rem;
      text-transform: uppercase;
      font-weight: 700;
      display: flex;
      justify-content: flex-end;
      span {
        padding: 3px 5px;
        background-color: rgba($purple, 0.1);
        border-radius: 3px;
        border: 1px solid rgba($purple, 0.5);
      }
      svg {
        font-size: 0.875rem;
      }
    }
    .note {
      background-color: rgba($green, 0.1);
      padding: 15px;
      color: $green;
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 700;
      border-radius: 5px;
      border: 1px solid $green;
      span {
        color: $red;
      }
    }

    .price-table {
      tr {
        td {
          &:first-child {
            font-weight: 700;
            text-transform: capitalize;
          }
        }
      }
    }

    .desc-details {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      border-bottom: 1px solid rgba($black, 0.1);
      margin-bottom: 30px;
      ::v-deep li {
        margin: 5px 0;
        font-size: 0.875rem;
        &::marker {
          color: $purple;
        }
      }
      ::v-deep p {
        margin: 20px 0;
      }
    }

    .social-rating {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0;
      .social {
        .icon {
          margin-left: 0.5rem;
          width: 40px;
          cursor: pointer;
          &.facebook {
            color: map-get($brand, "facebook");
          }
          &.instagram {
            color: map-get($brand, "instagram");
          }
          &.linkedin {
            color: map-get($brand, "linkedin");
          }
        }
      }
    }

    .slider {
      ::v-deep .VueCarousel-slide {
        img {
          height: 400px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    .deals {
      img {
        height: 250px;
        width: 100%;
        object-fit: cover;
      }
      .bolt-icon {
        color: $red;
      }
    }
    ::v-deep .VueCarousel-pagination {
      > div {
        margin-top: 0 !important;
      }
      button {
        margin-top: 0 !important;
      }
    }
    ::v-deep .VueCarousel-navigation-prev {
      left: 7px;
    }
    ::v-deep .VueCarousel-navigation-next {
      right: 5px;
    }

    .services {
      display: flex;
      flex-wrap: wrap;
      h5 {
        width: 100%;
      }
      > div {
        display: inline-flex;
        min-width: 50%;
        margin: 5px 0;
        span {
          width: 30px;
          svg {
            color: $purple;
          }
        }
        p {
          margin: 0;
        }
      }
    }
    .open-times {
      > div.openDetail {
        height: 0;
        overflow: hidden;
        transition: 0.3s ease;
        > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 5px;

          &:nth-child(even) {
            background-color: rgba($black, 0.05);
          }
          p {
            width: 100%;
            margin-bottom: 0;
            padding: 5px 0;
            font-weight: 600;
            &:last-child {
              text-align: right;
              color: $green !important;
            }
            &.closed {
              color: $red !important;
            }
          }
        }
        &.active {
          height: auto;
          transition: 0.3s ease;
        }
      }
      .open-or-closed {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        color: $red !important;
        width: 100%;
        cursor: pointer;
        &.open {
          color: $green !important;
        }
        span {
          display: inline-flex;
          align-items: center;
          svg {
            margin-right: 5px;
          }
          &:last-child {
            color: rgba($black, 0.6);
            font-size: 0.875rem;
            svg {
              margin-left: 5px;
            }
          }
        }
      }
    }
    h5 {
      font-weight: 600;
      font-size: 1.1rem;
    }
    ::v-deep p {
      color: rgba($black, 0.6) !important;
      font-size: 0.95rem;
      line-height: 140%;
    }
    .dealer-logo {
      display: flex;
      justify-content: center;
      cursor: pointer;
      img {
        width: 50%;
        height: 100px;
        object-fit: cover;
      }
      h6 {
        margin-top: 5px;
        font-weight: 600;
        font-size: 0.875rem;
        color: $purple;
      }
    }
  }
  .shareIcon {
    position: fixed;
    right: 0;
    top: 250px;
    background-color: $white;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    width: 45px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: $shadow-small;
    z-index: 9;
    &:hover {
      box-shadow: $shadow-purple;
    }
    svg {
      font-size: 1.2rem;
      color: $purple;
    }
  }
  .share-modal {
    ::v-deep .popup-header {
      > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        svg {
          font-size: 1.2rem;
          cursor: pointer;
        }
      }
    }
    ::v-deep .popup-body {
      .icon-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        flex-wrap: wrap;
        img {
          max-width: 80px;
          cursor: pointer;
        }
      }
    }
    ::v-deep .popup-footer {
      display: none;
    }
  }
  @media screen and (max-width: 991px) {
    .share-modal {
      ::v-deep .popup-container {
        width: 90% !important;
      }
    }
    > .row {
      .back-btn {
        top: -10px;
        right: 5px;
      }
    }
    .shadow-container {
      &.right {
        margin-bottom: 70px !important;
      }
    }
    .header {
      flex-direction: column;
      h4 {
        margin: 10px 0;
        width: 100%;
        text-align: center;
      }
      .garage-dp {
        margin-right: 0 !important;
      }
      .rental-price {
        width: 100% !important;
        justify-content: center !important;
      }

      button {
        width: 100% !important;
        margin-left: 0 !important;
      }
    }
    .list-view-price {
      > div {
        align-items: center;
        border-right: 1px solid rgba($white, 0.2);
        width: 100%;
        &:last-child {
          border: none;
        }
      }
    }
    .price-table {
      tr {
        td,
        th {
          font-size: 0.75rem;
          min-width: min-content;
        }
        td {
          white-space: nowrap;
        }
      }
    }
    .phone {
      width: calc(100% - 30px);
      position: fixed;
      bottom: 29px;
      padding: 10px 0;
      left: 15px;
      right: 15px;
      z-index: 9;
      flex-wrap: nowrap !important;
      > button {
        flex: 1 1 auto !important;
        margin: 0 5px !important;
        font-size: 0.75rem !important;
        &:last-child {
          margin-top: 0 !important;
        }
      }
    }
    .featured {
      justify-content: center !important;
      margin-top: 10px;
      position: fixed;
      top: 70px;
      right: 10px;
      z-index: 9;
      span {
        background-color: $white !important;
        padding: 2px !important;
        color: $purple !important;
        font-size: 0.65rem !important;
        border-color: $purple !important;
        svg {
          font-size: 0.65rem !important;
        }
      }
    }
    .deals {
      img {
        height: 140px !important;
      }
    }
    .social {
      justify-content: center !important;
    }
    .slider {
      margin-top: 0 !important;
      img {
        object-fit: cover;
        width: 100% !important;
        height: 300px !important;
      }
    }
    .faq {
      margin-bottom: 40px;
    }
    ::v-deep .VueCarousel-navigation-prev,
    ::v-deep .VueCarousel-navigation-next {
      display: none;
    }
  }
}
