<div class="lease-details-wrapper container" v-if="leaseData">
  <div class="row d-block d-lg-none">
    <div class="col-12 p-0">
      <div class="slider mt-3">
        <Carousel
          id="garage-carousel"
          :per-page="1"
          :loop="true"
          :autoplay="true"
          :navigationEnabled="true"
        >
          <Slide v-for="image, index in leaseData.gallery.split(',')" v-bind:key="index">
            <img
            :src="getGalleryImagePath(image,leaseData.imageFolder)"
            class="img-fluid"
          />
          </Slide>
        </Carousel>
      </div>
    </div>
  </div>
  <span @click="sharePage" class="shareIcon">
    <font-awesome-icon :icon="['fas', 'share-alt']" />
  </span>
  <Modal class="small share-modal" @escape="hideModal" v-if="modalDisplay">
    <template v-slot:header>
      <div>
        <h5>Share to</h5>
        <font-awesome-icon :icon="['fas', 'times']" @click="hideModal" />
      </div>
    </template>
    <template v-slot:body>
      <div class="icon-wrapper">
        <img src="../../assets/facebook.png" class="icon facebook" />
        <img src="../../assets/twitter.png" class="icon twitter" />
        <img src="../../assets/whatsapp.png" class="icon whatsapp" />
        <img src="../../assets/email.png" class="icon email" />
      </div>
    </template>
  </Modal>
  <div class="row mt-4 mb-5 pb-3">
    <div class="col-12 col-lg-8">
      <div class="shadow-container p-3 mb-3">
        <div class="header">
          <h4>{{leaseData.name}}</h4>
          <!-- <div class="rental-price">
            AED {{getPrice(leaseData.price).price}}<span
              >/{{getPrice(leaseData.price).per}} year</span
            >
          </div> -->
        </div>
        <div class="featured">
          <span v-if="leaseData.featured"
            ><font-awesome-icon :icon="['fas','star']" /> Featured</span
          >
          <span v-if="leaseData.verified" class="ml-3"
            ><font-awesome-icon :icon="['fas','user-check']" /> Verified</span
          >
        </div>

        <div class="slider mt-3 d-lg-block d-none">
          <Carousel
            id="garage-carousel"
            :per-page="1"
            :loop="true"
            :autoplay="true"
            :navigationEnabled="true"
          >
            <Slide v-for="image, index in leaseData.gallery.split(',')" v-bind:key="index">
              <img
              :src="getGalleryImagePath(image,leaseData.imageFolder)"
              class="img-fluid"
            />
            </Slide>
          </Carousel>
        </div>

        <div class="price-table mt-5 table-responsive">
          <table
            class="table table-striped table-bordered table-hover table-sm"
          >
            <thead class="thead-dark">
              <tr>
                <th>Lease Period</th>
                <th>Lease Cost</th>
                <th>Mileage Limit</th>
                <th>Down Payment</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="price in leaseData.price">
                <td>{{price.per}} year</td>
                <td>AED {{price.price}}</td>
                <td>{{price.km}} Kms</td>
                <td>AED {{price.down}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="desc-details">
          
            <h5 class="my-3">Offer Details</h5>
            <div v-html="leaseData.descDetails"></div>
          </div>

          <div class="note my-3">
            <span>Supplier Note: </span>{{leaseData.note}}
          </div>
          <div class="services mt-4">
            <h5 class="mb-3">Car Specifications</h5>
            <div v-for="specs in leaseData.listBullets.split(',')">
              <span><font-awesome-icon :icon="['fas', 'long-arrow-alt-right']"/></span>
              <p>{{specs}}</p>
            </div>
          </div>
          <div class="services mt-4">
            <h5 class="mb-3">Car Features</h5>
            <div v-for="feature in getFeaturesList(leaseData.features)">
              <span><font-awesome-icon :icon="['far', 'check-square']" /></span>
              <p>{{feature.title}}</p>
            </div>
          </div>
          <div class="desc">
            <h5 class="mt-4 mb-3">
              Why Choose {{leaseData.company}} {{leaseData.model}}
            </h5>
            <p>{{leaseData.whyChoose}}</p>
            <h5 class="mt-4 mb-3">Can I get this car delivered ?</h5>
            <p>{{leaseData.canDeliver}}</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="shadow-container right p-3 mb-3">
          <div class="dealer-logo mb-4 mt-2"  @click="openStore(leaseData.postedBy)">
            <img
            :src="getDealerLogo(leaseData.dealerLogo, leaseData.imageFolder)"
          />
          </div>
          <div class="open-times mb-4">
            <p
              class="open-or-closed mb-2"
              :class="checkOpenTime(leaseData.openTimes).title === 'Open Now' && 'open'"
              @click="openTimingContainer"
            >
              <span>
                <font-awesome-icon :icon="['fas','clock']" />
                {{checkOpenTime(leaseData.openTimes).title}}
              </span>
              <span>
                {{timing ? 'Close' : 'View' }} Timings
                <font-awesome-icon
                  :icon="['fas', timing ? 'chevron-circle-up' : 'chevron-circle-down']"
                />
              </span>
            </p>
            <p>
              {{checkOpenTime(leaseData.openTimes).data[0].day}}
              {{checkOpenTime(leaseData.openTimes).data[0].time}}
            </p>
            <div class="openDetail" :class="timing && 'active'">
              <div v-for="item in leaseData.openTimes" class="py-1 px-2">
                <p>{{item.day}}</p>
                <p :class="(item.time).toLowerCase() === 'closed' && 'closed'">
                  {{item.time}}
                </p>
              </div>
            </div>
          </div>
          <div class="phone mb-4">
            <!-- prettier-ignore -->
            <Button
            type="green"
            text="Call"
            :icon="['fas', 'phone']"
            @click="openPhone(leaseData.phone)"
            width= "100%"
          />
            <!-- prettier-ignore -->
            <Button
            type="green"
            text="Whatsapp"
            :icon="['fab', 'whatsapp']"
            @click="openWhatsapp(leaseData.phone)"
            width= "100%"
          />
            <!-- prettier-ignore -->
            <Button
            type="green"
            text="Email"
            class=""
            :icon="['fas', 'envelope']"
            @click="openEmail(leaseData.email)"
            width= "100%"
          />
          </div>

          <div class="map mt-4">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.1786541313772!2d55.27437637712276!3d25.19719697699969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f43348a67e24b%3A0xff45e502e1ceb7e2!2sBurj%20Khalifa!5e0!3m2!1sen!2sin!4v1626510499995!5m2!1sen!2sin"
              width="100%"
              height="350"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
            ></iframe>
          </div>
          <div class="social-rating mt-4">
            <Star pageType="lease"
            :pageId="Number(getLeaseId)" />
            <div class="social">
              <img
                src="../../assets/facebook.png"
                class="icon facebook"
                v-if="leaseData.facebook"
                @click="socialOpen(leaseData.facebook)"
              />
              <img
                src="../../assets/linkedin.png"
                class="icon linkedin"
                v-if="leaseData.linkedin"
                @click="socialOpen(leaseData.linkedin)"
              />
              <img
                src="../../assets/instagram.png"
                class="icon instagram"
                v-if="leaseData.instagram"
                @click="socialOpen(leaseData.instagram)"
              />
            </div>
          </div>
          <div class="desc mt-5 mb-4">
            <h5 class="mt-4 mb-3">Why book through Cars of UAE?</h5>
            <p>{{leaseData.whyUs}}</p>
          </div>
          <div class="mt-4">
            <h5 class="my-3">Frequently Asked Questions</h5>
            <accordion>
              <accordion-item v-for="faq, index in getLeaseFAQ.faq" :key="index">
                <template slot="accordion-trigger">
                  <p>{{faq.faqQuestion}}</p>
                  <font-awesome-icon :icon="['fas','chevron-circle-down']" />
                </template>
                <template slot="accordion-content">
                  <span>{{faq.faqAnswer}}</span>
                </template>
              </accordion-item>
            </accordion>
            <FAQ pageType="lease" :pageId="Number(getLeaseId)" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
