.select-wrapper {
  position: relative;
  width: 100%;
  text-align: left;
  outline: none;
  height: auto;
  line-height: 140%;

  .selected {
    background-color: $white;
    border-radius: 3px;
    color: rgba($black, 0.4);
    padding: 0.625em;
    cursor: pointer;
    user-select: none;
    box-shadow: $shadow-small;
    width: 100%;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      top: calc(50% - 2px);
      right: 1em;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-color: $purple transparent transparent transparent;
    }
  }
  .selected.open {
    border-radius: 3px 3px 0px 0px;
    box-shadow: $shadow-purple;
  }
  .items {
    color: rgba($black, 0.2);
    border-radius: 0px 0px 3px 3px;
    overflow: hidden;
    box-shadow: $shadow-small;
    border-top: none;
    position: absolute;
    background-color: $white;
    left: 0;
    right: 0;
    top: 40px;
    z-index: 1;
    max-height: 300px;
    overflow-y: auto;

    div {
      color: rgba($black, 0.4);
      padding: 0.5em;
      cursor: pointer;
      user-select: none;
      &:hover {
        background-color: $purple-10;
      }
    }
    &.no-data {
      div {
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
  .selectHide {
    display: none;
  }
  span.error-text {
    color: rgba($red, 0.8);
    font-size: 0.85rem;
  }
  &.error {
    .selected {
      border: 1px solid rgba($red, 0.8) !important;
      background-color: rgba($red, 0.05) !important;
      box-shadow: $shadow-error;
    }
  }
}
