<div
  class="select-wrapper"
  @blur="open = false"
  :class="error && 'error'"
  ref="selectRef"
>
  <div class="selected" :class="{ open: open }" @click="open = !open">
    {{ selected || placeholder }}
  </div>
  <div
    class="items"
    :class="{ selectHide: !open }"
    v-if="options && options.length"
  >
    <div v-for="(option, i) of options" :key="i" @click="selectOption(option)">
      {{ option }}
    </div>
  </div>
  <div class="items no-data" :class="{ selectHide: !open }" v-else>
    <div>No Data Available!</div>
  </div>
  <span v-if="error" class="error-text">{{errorText}}</span>
</div>
