.new-post-form-wrapper {
  .container {
    height: calc(100vh - 156px);
    width: 600px;
    max-width: 90%;
    div[class*="col-12"] {
      > label {
        font-weight: 800;
        width: 100%;
      }
    }

    label {
      span {
        color: $red;
        &.map-instructions {
          float: right;
          text-decoration: underline;
          text-transform: uppercase;
          font-size: 12px;
        }
      }
    }

    .button-wrapper {
      span {
        color: $purple;
        border-bottom: 1px dashed $purple;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
          color: rgba($purple, 0.6);
          border-bottom: 1px dashed rgba($purple, 0.6);
        }
      }
    }
    .features-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      span {
        width: 33%;
        display: inline-flex;
        margin: 5px 0;
      }
      .error-text {
        margin-top: 15px;
        color: rgba($red, 0.8);
        font-size: 0.85rem;
      }
    }
  }
  @media screen and (max-width: 991px) {
    .container {
      justify-content: center;
    }
  }
}
