<div class="new-post-form-wrapper container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-3">
            <h5 class="mt-5 mb-4">Post a new Lease</h5>
          </div>
          <div class="col-12 mb-3">
            <label>Name <span>*</span></label>
            <!-- prettier-ignore -->
            <InputText class="inputText" :error="newLeaseValidation.name" errorText="Enter Name"
              placeholder="Enter Name" id="name" :value="newLease.name"
              @value="updateLeaseData('name', $event)" />
          </div>
          <div class="col-12 mb-3">
            <label>Description <span>*</span></label>
            <!-- prettier-ignore -->
            <TextArea
              class="inputText"
              placeholder="Enter Description"
              :error="newLeaseValidation.description"
              errorText="Enter Description"
              @value="updateLeaseData('description', $event)"
              id="description"
              :value="newLease.description"
            />
          </div>
          <div class="col-12 mb-3">
            <label>Select Company <span>*</span></label>
            <!-- prettier-ignore -->
            <Select :options="companyList" :error="newLeaseValidation.company" errorText="Select Company"
              placeholder="Select Company" @selectValue="updateLeaseData('company', $event)" :selected="newLease.company" />
          </div>
          <div class="col-12 mb-3">
            <label>Select Model <span>*</span></label>
            <!-- prettier-ignore -->
            <Select :options="modelsList" :error="newLeaseValidation.model" errorText="Select Model"
              placeholder="Select Model" @selectValue="updateLeaseData('model', $event)" :selected="newLease.model" />
          </div>
          <div class="col-12 mb-3">
            <label>Select Make <span>*</span></label>
            <!-- prettier-ignore -->
            <Select :options="utils.yearDropdownValues()" :error="newLeaseValidation.make" errorText="Select Make"
              placeholder="Select Make" @selectValue="updateLeaseData('make', $event)" :selected="newLease.make" />
          </div>
          <div class="col-12 mb-3">
            <label>Location <span>*</span></label>
            <!-- prettier-ignore -->
            <Select :options="utils.emiratesLocationList()" :error="newLeaseValidation.place" errorText="Select Location"
              placeholder="Select Location" @selectValue="updateLeaseData('place', $event)" :selected="newLease.place" />
          </div>
          <div class="col-12 mb-3">
            <label
              >Location Map
              <span
                class="map-instructions"
                role="button"
                @click="showLocationInstructions"
                >How To Get Map?</span
              ></label
            >
            <!-- prettier-ignore -->
            <TextArea
              class="inputText"
              placeholder="Enter Location Map"
              :error="newLeaseValidation.locationMap"
              errorText="Enter Valid Location Map"
              @value="updateLeaseData('locationMap', $event)"
              id="locationMap"
              :value="newLease.locationMap"
            />
          </div>
          <div class="col-12 mb-3 mt-3">
            <label>Price <span>*</span></label>
            <!-- prettier-ignore -->
            <LeasePrice :error="newLeaseValidation.price"
            errorText="Choose Lease Price and Kilometers" @value="updateLeaseData('price', $event)" />
          </div>
          <div class="col-12 mb-3">
            <label
              >Upload 10 gallery images (Minimum of 1 image)
              <span>*</span></label
            >
            <!-- prettier-ignore -->
            <InputFile class="inputText" :error="newLeaseValidation.galleryImages"
              errorText="Choose gallery images (minimum 1)" type="file" accept="image/*" multiple
              name="galleryImages[]" id="galleryImages" :value="newLease.galleryImages"
              @value="updateLeaseData('galleryImages', $event)" />
          </div>
          <div class="col-12 mb-3 mt-3">
            <label>Open Times <span>*</span></label>
            <!-- prettier-ignore -->
            <OpenTimes :error="newLeaseValidation.openTimes"
            errorText="Choose timings for all days" @value="updateLeaseData('openTimes', $event)" />
          </div>
          <div class="col-12 mb-3">
            <label>Phone <span>*</span></label>
            <!-- prettier-ignore -->
            <InputText class="inputText" :error="newLeaseValidation.phone" errorText="Enter Phone Number"
              placeholder="Enter Phone Number" id="phone" :value="newLease.phone"
              @value="updateLeaseData('phone', $event)" />
          </div>
          <div class="col-12 mb-3">
            <label>Whatsapp Number <span>*</span></label>
            <!-- prettier-ignore -->
            <InputText class="inputText" :error="newLeaseValidation.whatsappNumber"
              errorText="Enter valid Whatsapp Number with country code" placeholder="Enter Whatsapp Number with Country Code"
              id="whatsappNumber" :value="newLease.whatsappNumber"
              @value="updateLeaseData('whatsappNumber', $event)" />
          </div>
          <div class="col-12 mb-3">
            <label>Email <span>*</span></label>
            <!-- prettier-ignore -->
            <InputText class="inputText" :error="newLeaseValidation.email" errorText="Enter Email Address"
              placeholder="Enter Email Address" id="email" :value="newLease.email"
              @value="updateLeaseData('email', $event)" />
          </div>
          <div class="col-12 mb-3">
            <label>Select Mileage Limit <span>*</span></label>
            <!-- prettier-ignore -->
            <InputText class="inputText" :error="newLeaseValidation.mileageLimit" errorText="Enter Valid Mileage Limit"
              placeholder="Enter Mileage Limit" id="mileageLimit" :value="newLease.mileageLimit"
              @value="updateLeaseData('mileageLimit', $event)" />
          </div>
          <div class="col-12 mb-3">
            <label>Additional Mileage Charge <span>*</span></label>
            <!-- prettier-ignore -->
            <InputText class="inputText" :error="newLeaseValidation.additionalMileageCharge" errorText="Enter Valid Additional Mileage Charge"
              placeholder="Enter Additional Mileage Charge" id="additionalMileageCharge" :value="newLease.additionalMileageCharge"
              @value="updateLeaseData('additionalMileageCharge', $event)" />
          </div>
          <div class="col-12 mb-3">
            <label>Select Insurance <span>*</span></label>
            <!-- prettier-ignore -->
            <Select :options="utils.insuranceList()" :error="newLeaseValidation.insurance" errorText="Select Insurance"
              placeholder="Select Insurance" @selectValue="updateLeaseData('insurance', $event)" :selected="newLease.insurance" />
          </div>
          <div class="col-12 mb-3">
            <label>Minimum Age <span>*</span></label>
            <!-- prettier-ignore -->
            <InputText class="inputText" :error="newLeaseValidation.minAge" errorText="Enter Valid Minimum Age"
              placeholder="Enter Minimum Age" id="minAge" :value="newLease.minAge"
              @value="updateLeaseData('minAge', $event)" />
          </div>
          <div class="col-12 mb-3">
            <label>Security Deposit <span>*</span></label>
            <!-- prettier-ignore -->
            <InputText class="inputText" :error="newLeaseValidation.securityDeposit" errorText="Enter Valid Security Deposit"
              placeholder="Enter Security Deposit" id="securityDeposit" :value="newLease.securityDeposit"
              @value="updateLeaseData('securityDeposit', $event)" />
          </div>
          <div class="col-12 mb-3">
            <label>Accepted In <span>*</span></label>
            <!-- prettier-ignore -->
            <Select :options="utils.acceptedInList()" :error="newLeaseValidation.acceptedIn" errorText="Select Accepted In"
            placeholder="Select Accepted In" @selectValue="updateLeaseData('acceptedIn', $event)" :selected="newLease.acceptedIn" />
          </div>
          <div class="col-12 mb-3">
            <label>Select Additional Driver Insurance <span>*</span></label>
            <!-- prettier-ignore -->
            <Select :options="utils.additionalDriverInsuranceOptions()" :error="newLeaseValidation.additionalDriverInsurance" errorText="Select Additional Driver Insurance"
              placeholder="Select Additional Driver Insurance" @selectValue="updateLeaseData('additionalDriverInsurance', $event)" :selected="newLease.additionalDriverInsurance" />
          </div>
          <div class="col-12 mb-3">
            <label>Excess Claim <span>*</span></label>
            <!-- prettier-ignore -->
            <InputText class="inputText" :error="newLeaseValidation.excessClaim" errorText="Enter Excess Claim"
              placeholder="Enter Excess Claim" id="excessClaim" :value="newLease.excessClaim"
              @value="updateLeaseData('excessClaim', $event)" />
          </div>
          <div class="col-12 mb-3">
            <label>Toll Charges <span>*</span></label>
            <!-- prettier-ignore -->
            <InputText class="inputText" :error="newLeaseValidation.tollCharges" errorText="Enter Valid Toll Charges"
              placeholder="Enter Toll Charges" id="tollCharges" :value="newLease.tollCharges"
              @value="updateLeaseData('tollCharges', $event)" />
          </div>
          <div class="col-12 mb-3">
            <label>Select Features <span>*</span></label>
            <!-- prettier-ignore -->
            <div class="features-wrapper">
              <span v-for="features in leaseFeaturesList" class="features-list">
                <Checkbox :value="isSelected(features.id)" :label="features.title" @change="updateLeaseFeaturesList(features.id)" />
              </span>
              <div class="error-text" v-if="newLeaseValidation.features">Select atleast one features you provide</div>
            </div>
          </div>
          <div class="col-12 mb-3">
            <label>Type <span>*</span></label>
            <!-- prettier-ignore -->
            <Select :options="getLeaseTypes" :error="newLeaseValidation.type" errorText="Select Type"
              placeholder="Select Type" @selectValue="updateLeaseData('type', $event)" :selected="newLease.type" />
          </div>
          <div class="col-12 mb-3">
            <label>Select No.of Doors <span>*</span></label>
            <!-- prettier-ignore -->
            <Select :options="utils.numberUpto10DropdownValues()" :error="newLeaseValidation.doors" errorText="Select No.of Doors"
              placeholder="Select No.of Doors" @selectValue="updateLeaseData('doors', $event)" :selected="newLease.doors" />
          </div>
          <div class="col-12 mb-3">
            <label>Select No.of Seats <span>*</span></label>
            <!-- prettier-ignore -->
            <Select :options="utils.numberUpto10DropdownValues()" :error="newLeaseValidation.seats" errorText="Select No.of Seats"
              placeholder="Select No.of Seats" @selectValue="updateLeaseData('seats', $event)" :selected="newLease.seats" />
          </div>

          <div class="col-12 mb-3">
            <label>Why Choose This Car <span>*</span></label>
            <!-- prettier-ignore -->
            <TextArea
              class="inputText"
              placeholder="Enter Why Choose This Car"
              :error="newLeaseValidation.whyChoose"
              errorText="Enter Why Choose This Car"
              @value="updateLeaseData('whyChoose', $event)"
              id="whyChoose"
              :value="newLease.whyChoose"
            />
          </div>
          <div class="col-12 mb-3">
            <label>Why Choose Us <span>*</span></label>
            <!-- prettier-ignore -->
            <TextArea
              class="inputText"
              placeholder="Enter Why Choose Us"
              :error="newLeaseValidation.whyUs"
              errorText="Enter Why Choose Us"
              @value="updateLeaseData('whyUs', $event)"
              id="whyUs"
              :value="newLease.whyUs"
            />
          </div>
          <div class="col-12 mb-3">
            <label>Delivery Instructions <span>*</span></label>
            <!-- prettier-ignore -->
            <TextArea
              class="inputText"
              placeholder="Enter Delivery Instructions"
              :error="newLeaseValidation.canDeliver"
              errorText="Enter Delivery Instructions"
              @value="updateLeaseData('canDeliver', $event)"
              id="canDeliver"
              :value="newLease.canDeliver"
            />
          </div>
          <div class="col-12 mb-3">
            <label>Note <span>*</span></label>
            <!-- prettier-ignore -->
            <TextArea
              class="inputText"
              placeholder="Enter Note"
              :error="newLeaseValidation.note"
              errorText="Enter Note"
              @value="updateLeaseData('note', $event)"
              id="note"
              :value="newLease.note"
            />
          </div>
          <div class="col-12 mb-3 mt-3">
            <label>Social media links (if any)</label>
            <!-- prettier-ignore -->
            <InputText class="inputText" placeholder="Enter Facebook url" id="facebook"
              :value="newLease.facebook" @value="updateLeaseData('facebook', $event)" />
            <InputText
              class="inputText"
              placeholder="Enter Instagram url"
              id="instagram"
              :value="newLease.instagram"
              @value="updateLeaseData('instagram', $event)"
            />
            <InputText
              class="inputText"
              placeholder="Enter LinkedIn url"
              id="linkedin"
              :value="newLease.linkedin"
              @value="updateLeaseData('linkedin', $event)"
            />
          </div>
          <div class="col-12 mb-3">
            <label
              >Enter specifications separated using comma<span>*</span></label
            >
            <!-- prettier-ignore -->
            <TextArea
              class="inputText"
              placeholder="Enter Specifications separated by comma"
              :error="newLeaseValidation.listBullets"
              errorText="Enter Specifications"
              @value="updateLeaseData('listBullets', $event)"
              id="listBullets"
              :value="newLease.listBullets"
            />
          </div>

          <div class="col-12 mb-3">
            <label>Description Details <span>*</span></label>
            <!-- prettier-ignore -->
            <TextArea
              class="inputText"
              placeholder="Enter Description Details"
              :error="newLeaseValidation.descDetails"
              errorText="Enter Description Details"
              @value="updateLeaseData('descDetails', $event)"
              id="descDetails"
              :value="newLease.descDetails"
            />
          </div>
          <div
            class="col-12 mt-3 mb-5 d-flex justify-content-between align-items-center button-wrapper"
          >
            <!-- prettier-ignore -->
            <Button type="hollow" text="Cancel" class="mr-3" @click="cancelLease()" />
            <!-- prettier-ignore -->
            <Button type="primary" text="Submit Post" @click="submitLease()" />
          </div>
        </div>
      </div>
    </div>
    <LocationMapInstructions
      class="medium"
      v-if="showLocationModal"
      @close="closeReviewModal"
    />
  </div>
</div>
