.popup-mask {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  background: rgba($black, 0.5);

  .popup-wrapper {
    display: inline-flex;
    width: 100%;
    font-family: "Poppins", sans-serif;

    .popup-container {
      max-height: 100vh;
      overflow: auto;
      box-sizing: border-box;
      width: 93%;
      height: auto;
      margin: 0px auto;
      padding: 30px;
      background-color: $white;
      border-radius: 2px;
      box-shadow: $shadow-small;
      transition: all 0.3s ease;
      .popup-header {
        padding-bottom: 10px;
        border-bottom: 1px solid rgba($black, 0.1);
        font-size: 1.3rem;
        text-transform: capitalize;
        font-weight: 600;
      }

      .popup-body {
        position: relative;
        margin: 10px 0;
        font-size: 1rem;
        padding-right: 10px;
      }
      .popup-footer {
        min-height: 40px;
        text-align: right;
        border-top: 1px solid rgba($black, 0.1);
      }
    }
  }
  &.medium {
    .popup-wrapper {
      .popup-container {
        width: 50%;
        max-width: 93%;
      }
    }
  }

  &.medium-large {
    .popup-wrapper {
      .popup-container {
        width: 80%;
        max-width: 93%;
      }
    }
  }

  &.small {
    .popup-wrapper {
      .popup-container {
        width: 30%;
        min-width: 500px;
        max-width: 93%;
      }
    }
  }

  &.extra-small {
    .popup-wrapper {
      .popup-container {
        width: 21.7%;
        max-width: 93%;
      }
    }
  }

  &.no-padding {
    .popup-wrapper {
      .popup-container {
        padding: 0;
        .popup-body {
          margin: 0;
        }
      }
    }
  }

  @media screen and (max-width: 991px) {
    &.small,
    &.medium {
      .popup-wrapper {
        .popup-container {
          width: 100%;
          min-width: auto;
          max-width: 100%;
        }
      }
    }
  }
}
.popup-enter {
  opacity: 0;
}

.popup-leave-active {
  opacity: 0;
}

.popup-enter .popup-container,
.popup-leave-active .popup-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
