<div class="post-detail-table-wrapper">
  <ul
    v-if='selectedClassifiedCategory==="used-cars"'
    class="overview-table mt-3 mb-4"
  >
    <li>
      <p>Brand</p>
      <p>{{data.brand}}</p>
    </li>
    <li>
      <p>Model</p>
      <p>{{data.model}}</p>
    </li>
    <li>
      <p>Trim</p>
      <p>{{data.trim}}</p>
    </li>
    <li>
      <p>Year</p>
      <p>{{data.make}}</p>
    </li>
    <li>
      <p>Kilometers</p>
      <p>{{data.distance}} kms</p>
    </li>
    <li>
      <p>Regional Specs</p>
      <p>{{data.regionalSpecs}}</p>
    </li>
    <li>
      <p>Body Type</p>
      <p>{{data.bodyType}}</p>
    </li>
    <li>
      <p>Warranty</p>
      <p>{{data.warranty}}</p>
    </li>
    <li>
      <p>No.of Cylinders</p>
      <p>{{data.noOfCylinders}}</p>
    </li>
    <li>
      <p>Transmission Type</p>
      <p>{{data.transmissionType}}</p>
    </li>
    <li>
      <p>Horse Power</p>
      <p>{{data.horsePower}}</p>
    </li>
    <li>
      <p>Fuel Type</p>
      <p>{{data.fuelType}}</p>
    </li>
    <li>
      <p>Steering Side</p>
      <p>{{data.steeringSide}}</p>
    </li>
    <li>
      <p>Exterior Color</p>
      <p>{{data.exteriorColor}}</p>
    </li>
    <li>
      <p>Interior Color</p>
      <p>{{data.interiorColor}}</p>
    </li>
    <li>
      <p>Doors</p>
      <p>{{data.doors}}</p>
    </li>
    <li>
      <p>Body Condition</p>
      <p>{{data.bodyCondition}}</p>
    </li>
    <li>
      <p>Mechanical Condition</p>
      <p>{{data.mechanicalCondition}}</p>
    </li>
    <li>
      <p>Seller Type</p>
      <p>{{data.sellerType}}</p>
    </li>
  </ul>
  <ul
    v-else-if='selectedClassifiedCategory==="motorcycles"'
    class="overview-table mt-3 mb-4"
  >
    <li>
      <p>Sub Category</p>
      <p>{{data.subcategory}}</p>
    </li>
    <li>
      <p>Name</p>
      <p>{{data.name}}</p>
    </li>
    <li>
      <p>Brand</p>
      <p>{{data.brand}}</p>
    </li>
    <li>
      <p>Model</p>
      <p>{{data.model}}</p>
    </li>
    <li>
      <p>Trim</p>
      <p>{{data.trim}}</p>
    </li>
    <li>
      <p>Phone</p>
      <p>{{data.phone}}</p>
    </li>
    <li>
      <p>Email</p>
      <p>{{data.email}}</p>
    </li>
    <li>
      <p>Place</p>
      <p>{{data.place}}</p>
    </li>
    <li>
      <p>Final Drive System</p>
      <p>{{data.finalDriveSystem}}</p>
    </li>
    <li>
      <p>Wheels</p>
      <p>{{data.wheels}}</p>
    </li>
    <li>
      <p>Engine Size</p>
      <p>{{data.engineSize}}</p>
    </li>
    <li>
      <p>Sub Specification</p>
      <p>{{data.subSpecification}}</p>
    </li>
    <li>
      <p>Regional Specification</p>
      <p>{{data.regionalSpec}}</p>
    </li>
    <li>
      <p>Price</p>
      <p>{{data.price}}</p>
    </li>
    <li>
      <p>Exterior Color</p>
      <p>{{data.exteriorColor}}</p>
    </li>
    <li>
      <p>Body Condition</p>
      <p>{{data.bodyCondition}}</p>
    </li>
    <li>
      <p>Mechanical Condition</p>
      <p>{{data.mechanicalCondition}}</p>
    </li>
    <li>
      <p>Seller Type</p>
      <p>{{data.sellerType}}</p>
    </li>
  </ul>
  <ul
    v-else-if='selectedClassifiedCategory==="boats"'
    class="overview-table mt-3 mb-4"
  >
    <li>
      <p>Sub Category</p>
      <p>{{data.subCategory}}</p>
    </li>
    <li>
      <p>Name</p>
      <p>{{data.name}}</p>
    </li>
    <li>
      <p>Age</p>
      <p>{{data.age}}</p>
    </li>
    <li>
      <p>Phone</p>
      <p>{{data.phone}}</p>
    </li>
    <li>
      <p>Email</p>
      <p>{{data.email}}</p>
    </li>
    <li>
      <p>Place</p>
      <p>{{data.place}}</p>
    </li>
    <li>
      <p>Boat Condition</p>
      <p>{{data.boatCondition}}</p>
    </li>
    <li>
      <p>Boat History</p>
      <p>{{data.boatHistory}}</p>
    </li>
    <li>
      <p>Length</p>
      <p>{{data.length}}</p>
    </li>
    <li>
      <p>Warranty</p>
      <p>{{data.warranty}}</p>
    </li>
    <li>
      <p>Seller Type</p>
      <p>{{data.sellerType}}</p>
    </li>
    <li>
      <p>Price</p>
      <p>{{data.price}}</p>
    </li>
    <li>
      <p>Year</p>
      <p>{{data.year}}</p>
    </li>
  </ul>
  <ul
    v-else-if='selectedClassifiedCategory==="truck"'
    class="overview-table mt-3 mb-4"
  >
    <li>
      <p>Sub Category</p>
      <p>{{data.subCategory}}</p>
    </li>
    <li>
      <p>Name</p>
      <p>{{data.name}}</p>
    </li>
    <li>
      <p>Phone</p>
      <p>{{data.phone}}</p>
    </li>
    <li>
      <p>Email</p>
      <p>{{data.email}}</p>
    </li>
    <li>
      <p>Place</p>
      <p>{{data.place}}</p>
    </li>
    <li>
      <p>Seller Type</p>
      <p>{{data.sellerType}}</p>
    </li>
    <li>
      <p>Cylinders</p>
      <p>{{data.cylinders}}</p>
    </li>
    <li>
      <p>Horse Power</p>
      <p>{{data.horsePower}}</p>
    </li>
    <li>
      <p>Fuel</p>
      <p>{{data.fuel}}</p>
    </li>
    <li>
      <p>Warranty</p>
      <p>{{data.warranty}}</p>
    </li>
    <li>
      <p>Price</p>
      <p>{{data.price}}</p>
    </li>
    <li>
      <p>Year</p>
      <p>{{data.year}}</p>
    </li>
    <li>
      <p>Kilometers</p>
      <p>{{data.kilometers}}</p>
    </li>
  </ul>
  <ul
    v-else-if='selectedClassifiedCategory==="number-plates"'
    class="overview-table mt-3 mb-4"
  >
    <li>
      <p>Sub Category</p>
      <p>{{data.subCategory}}</p>
    </li>
    <li>
      <p>Name</p>
      <p>{{data.name}}</p>
    </li>
    <li>
      <p>Phone</p>
      <p>{{data.phone}}</p>
    </li>
    <li>
      <p>Email</p>
      <p>{{data.email}}</p>
    </li>
    <li>
      <p>Place</p>
      <p>{{data.place}}</p>
    </li>
    <li>
      <p>Emirate</p>
      <p>{{data.emirate}}</p>
    </li>
    <li>
      <p>Digits</p>
      <p>{{data.digits}}</p>
    </li>
  </ul>
  <ul
    v-else-if='selectedClassifiedCategory==="accessories-and-parts"'
    class="overview-table mt-3 mb-4"
  >
    <li>
      <p>Type</p>
      <p>{{data.type}}</p>
    </li>
    <li>
      <p>Category</p>
      <p>{{data.category}}</p>
    </li>
    <li>
      <p>Sub Category</p>
      <p>{{data.subCategory}}</p>
    </li>
    <li>
      <p>Item</p>
      <p>{{data.item}}</p>
    </li>
    <li>
      <p>Name</p>
      <p>{{data.name}}</p>
    </li>
    <li>
      <p>Phone</p>
      <p>{{data.phone}}</p>
    </li>
    <li>
      <p>Email</p>
      <p>{{data.email}}</p>
    </li>
    <li>
      <p>Place</p>
      <p>{{data.place}}</p>
    </li>
    <li>
      <p>Price</p>
      <p>{{data.price}}</p>
    </li>
    <li>
      <p>Seller Type</p>
      <p>{{data.sellerType}}</p>
    </li>
    <li>
      <p>Accessories Condition</p>
      <p>{{data.accessoriesCondition}}</p>
    </li>
    <li>
      <p>Accessories Usage</p>
      <p>{{data.accessoriesUsage}}</p>
    </li>
    <li>
      <p>Warranty</p>
      <p>{{data.warranty}}</p>
    </li>
  </ul>
</div>
