.alert-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  min-height: 56px;
  animation: alert-animation 0.3s ease-in;
  &.success {
    background-color: $green;
  }
  &.error {
    background-color: $red;
  }
}

@keyframes alert-animation {
  0% {
    bottom: -60px;
  }
  25% {
    bottom: -45px;
  }
  50% {
    bottom: -30px;
  }
  75% {
    bottom: -15px;
  }
  100% {
    bottom: 0;
  }
}
