<Modal class="small">
  <template v-slot:header>
    <h3>
      {{data.reviews?.length || 0}} Reviews
      <em>({{getStarValue()}} out of 5)</em>
    </h3>

    <span @click="closeModal"
      ><font-awesome-icon :icon="['fas', 'times']" /></span
  ></template>

  <template v-slot:body v-if="data.reviews?.length">
    <div v-for="review in data.reviews">
      <h6>
        By {{review.userName}} <span>[{{formatDate(review.created)}}]</span>
      </h6>
      <h5>Rating: {{review.rating}}</h5>
      <p>{{review.reviewDesc}}</p>
    </div>
  </template>
  <template v-slot:body v-else>
    <div>
      <p>{{data.message}}</p>
    </div>
  </template>
  <template v-slot:footer>
    <div class="col-12 p-0 mt-4 d-flex">
      <!-- prettier-ignore -->
      <Button type="hollow" width="100%" text="Cancel" @click="closeModal" class="mr-2" />
      <!-- prettier-ignore -->
      <Button type="primary" width="100%" text="Add Review" @click="addReview" class="ml-2" />
    </div>
  </template>
</Modal>
