<div class="container post-details-wrapper my-4">
  <div class="row">
    <div class="col-md-10 col-12 my-md-5 my-2 p-md-0">
      <h3>Welcome COUAE Super Admin!!</h3>
    </div>
    <div class="col-md-2 col-12 my-md-5 my-2 p-md-0">
      <!-- prettier-ignore -->
      <Button type="hollow" width="100%" text="Logout" @click="logout" />
    </div>
    <div class="col-12 mb-3 p-md-0">
      <label>Select Category <span>*</span></label>
      <!-- prettier-ignore -->
      <Select :options="mainCategoryList"
        placeholder="Select Category" @selectValue="setPageCategory($event)" :selected="page" />
    </div>
    <div class="col-12 mb-md-5 mb-3 mt-3 p-md-0">
      <ul class="nav nav-tabs w-100" v-if="page == 'classifieds'">
        <li
          class="nav-item"
          role="button"
          v-for="item in classifiedsCategoryList"
        >
          <a
            class="nav-link"
            :class="item.id==type && 'active'"
            @click="getNonApprovedPosts(item.id)"
            >{{item.name}}</a
          >
        </li>
      </ul>
      <ul class="nav nav-tabs w-100" v-else-if="page == 'spare-parts'">
        <li class="nav-item" role="button" v-for="item in spareCategoryList">
          <a
            class="nav-link"
            :class="item.id==type && 'active'"
            @click="getNonApprovedPosts(item.id)"
            >{{item.title}}</a
          >
        </li>
      </ul>
      <ul class="nav nav-tabs w-100" v-else-if="page == 'garages'">
        <li class="nav-item" role="button" v-for="item in garageCategoryList">
          <a
            class="nav-link"
            :class="item.id==type && 'active'"
            @click="getNonApprovedPosts(item.id)"
            >{{item.title}}</a
          >
        </li>
      </ul>
    </div>
    <div class="col-12 mb-5 p-md-0 no-post-cont" v-if="!nonApprovedPostList">
      <h3 class="">No Posts available to approve/decline</h3>
    </div>
    <div class="col-12 mb-5 p-md-0" v-else>
      <div
        class="border-bottom border-primary pb-4 table table-main"
        v-for="post,index in nonApprovedPostList"
        :data-count="index+1"
      >
        <div v-for="key in Object.entries(post)" class="table-row">
          <div class="d-flex" v-if="key[0] == 'thumb'">
            <div class="w-50 p-0 d-flex py-1">{{key[0]}}:</div>
            <div class="w-50 p-0 d-flex py-1">
              <img
                :src="getImagePath(key[1],post.imageFolder)"
                class="w-25 h-100"
              />
            </div>
          </div>
          <div
            class="d-flex"
            v-else-if="key[0] == 'gallery' || key[0] == 'galleryImages' || key[0] == 'dealerLogo' || key[0] == 'profilePicture' || key[0] == 'displayPicture' || key[0] == 'dealBanner'"
          >
            <div class="w-50 p-0 d-flex py-1">{{key[0]}}:</div>
            <div class="w-50 p-0 d-flex py-1 flex-wrap">
              <img
                v-for="item in key[1].split(',')"
                :src="getImagePath(item,post.imageFolder)"
                class="w-25"
              />
            </div>
          </div>
          <div class="d-flex" v-else-if="key[0] == 'features'">
            <div class="w-50 p-0 d-flex py-1">{{key[0]}}:</div>
            <div class="w-50 p-0 d-flex py-1 flex-wrap">
              <div v-for="feature in getFeaturesList(key[1])">
                <p>{{feature.title}}, &nbsp;</p>
              </div>
            </div>
          </div>
          <div class="d-flex" v-else>
            <div class="w-50 p-0 py-1">{{key[0]}}:</div>
            <div class="w-50 p-0 py-1">{{key[1]}}</div>
          </div>
        </div>
        <div class="d-flex mt-4 mb-2">
          <!-- prettier-ignore -->
          <Button type="red" width="100%" text="Decline" @click="decline(post.id)" class="mr-2" />
          <!-- prettier-ignore -->
          <Button type="green" width="100%" text="Approve" @click="approve(post.id)" class="ml-2" />
        </div>
      </div>
    </div>
  </div>
</div>
