<div class="header-wrapper container-fluid p-0">
  <div class="row">
    <div class="col-12 justify-content-between d-flex">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container p-0 position-relative">
          <router-link class="navbar-brand" to="/">
            <img src="../../assets/logo.png" class="img-fluid" />
          </router-link>
          <button
            class="navbar-toggler collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span></span>
            <span></span>
            <span></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav"
          >
            <div
              class="overlay"
              data-toggle="collapse"
              data-target="#navbarNav"
            ></div>
            <ul class="navbar-nav my-3">
              <li class="nav-item">
                <router-link
                  class="nav-link"
                  to="/home"
                  data-toggle="collapse"
                  data-target="#navbarNav"
                  ><font-awesome-icon
                    :icon="['fas','home']"
                    class="mr-2"
                  />Home</router-link
                >
              </li>
              <li class="nav-item" v-for="service in services">
                <router-link
                  class="nav-link"
                  :to="service.url"
                  data-toggle="collapse"
                  data-target="#navbarNav"
                  ><font-awesome-icon :icon="service.icon" class="mr-2" />
                  {{service.name}}</router-link
                >
              </li>
              <li class="nav-item login mx-1" v-if="loginInfo.isLoggedIn">
                <a class="nav-link" href="#"
                  ><font-awesome-icon :icon="['fas','user-alt']"
                /></a>

                <ul>
                  <li class="no-link">
                    Welcome <span>{{loginInfo.username}}</span>! 😊
                  </li>
                  <li>
                    <router-link
                      class="nav-link"
                      to="/my-ads"
                      data-toggle="collapse"
                      data-target="#navbarNav"
                      >My Ads</router-link
                    >
                  </li>
                  <li>
                    <router-link
                      class="nav-link"
                      to="/profile"
                      data-toggle="collapse"
                      data-target="#navbarNav"
                      >My Profile</router-link
                    >
                  </li>
                  <li>
                    <a href="#" class="nav-link" @click="logout">Logout</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item login" v-else>
                <router-link
                  class="nav-link"
                  to="/login"
                  data-toggle="collapse"
                  data-target="#navbarNav"
                >
                  Login</router-link
                >
              </li>
              <li class="nav-item search mx-1">
                <router-link
                  class="nav-link"
                  to="/search"
                  data-toggle="collapse"
                  data-target="#navbarNav"
                  ><font-awesome-icon :icon="['fas','search']"
                /></router-link>
              </li>
              <!-- HIDING FOR NOW. MIGHT ENABLE LATER 
                <li class="nav-item d-none d-lg-block">
                
                  <Button type="secondary" text="buy a car" @click="clicked" class="ml-3" />
                </li>
              -->

              <li class="nav-item d-none d-lg-block">
                <!-- prettier-ignore -->
                <Button type="primary" text="sell" @click="newPost()" class="ml-2" />
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
