nav {
  &.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: $white;
    box-shadow: $shadow-small;
    z-index: 99;
    .navbar-brand {
      img {
        max-height: 80px;
      }
    }
    .navbar-nav {
      .nav-item {
        display: inline-flex;
        align-items: center;
        .nav-link {
          font-family: $secondary-font;
          text-transform: uppercase;
          font-size: 0.875rem;
          svg {
            display: none;
          }
          &:hover, &.router-link-active.router-link-exact-active {
            color: $purple;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  nav {
    &.navbar {
      height: 70px;
      .navbar-brand {
        img {
          max-height: 50px;
        }
      }
    }
  }
  .navbar-toggler {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: 0.3s ease;
    padding: 0.5rem;
    &:hover {
      span {
        background-color: $purple;
      }
    }
    span {
      width: 25px;
      height: 3px;
      background-color: $black;
      display: block;
      margin-bottom: 0.2rem;
      transition: 0.3s ease;
      &:nth-child(2) {
        width: 21px;
      }
      &:nth-child(3) {
        width: 18px;
      }
    }
    &:not(.collapsed) {
      background-color: $purple;
      border-radius: 50px 50px 0 0;
      span {
        background-color: $white;
        &:nth-child(1) {
          transform: rotate(45deg) translate(6px, 5px);
          width: 20px;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-45deg) translate(3px, -3px);
          width: 20px;
        }
      }
    }
  }
  .navbar-collapse {
    position: absolute;
    width: 100%;
    top: 38px;

    .overlay {
      height: 0;
      position: fixed;
      z-index: 0;
      width: 100%;
      padding: 0;
      background: rgba($black, 0.7);
      top: 70px;
      left: 0;
      transition: 0.1s ease;
    }
    &.show,
    &.collapsing {
      .overlay {
        height: calc(100vh - 70px);
      }
    }

    ul {
      width: 85%;
      margin-top: 0 !important;
      float: right !important;
      height: calc(100vh - 70px) !important;
      overflow-y: auto;
      right: 0;

      @for $index from 1 through length($purpleArray) {
        li:nth-child(#{length($purpleArray)}n + #{$index}) a {
          background: unquote(nth($purpleArray, $index));
        }
      }
      li {
        background: $white;
        position: relative;
        overflow: hidden;
        transition: 0.3s ease;
        &:first-child {
          border-top-left-radius: 30px;
        }
        &:nth-last-child(3) {
          border-bottom-left-radius: 30px;
          border-bottom-right-radius: 30px;
        }
        button {
          margin: 15px;
        }
        a {
          text-align: left !important;
          width: 100%;
          padding: 15px;
          transition: 0.3s ease;
          color: $white !important;
          display: inline-flex;
          align-items: center;
          svg {
            display: inline !important;
            min-width: 30px;
          }
          &:hover {
            background-color: $purple;
          }
        }
        &.active {
          a {
            background-color: $purple;
          }
        }
      }
    }
  }
}
