<div class="carousel-wrapper container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <div class="container p-0">
        <Carousel id="banner-carousel" :per-page="1" controls="true" :navigationEnabled="true" :loop="true">
          <Slide>
            <div class="row slide-row">
              <div class="col-12 col-md-4 slide-content">
                <h1 class="my-5">Lorem ipsum dolor <span>sit amet</span></h1>
                <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <!-- prettier-ignore -->
                <Button type="primary" text="learn more" class="my-5" />
              </div>
              <div class="col-12 col-md-8">
                <img src="../../assets/slider-img.png" class="img-fluid" />
              </div>
            </div>
          </Slide>
          <Slide>
            <div class="row slide-row">
              <div class="col-12 col-md-4 slide-content">
                <h1 class="my-5">Lorem ipsum dolor <span>sit amet</span></h1>
                <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <!-- prettier-ignore -->
                <Button type="primary" text="learn more" class="my-5" />
              </div>
              <div class="col-12 col-md-8">
                <img src="../../assets/slider-img.png" class="img-fluid" />
              </div>
            </div>
          </Slide>
          <Slide>
            <div class="row slide-row">
              <div class="col-12 col-md-4 slide-content">
                <h1 class="my-5">Lorem ipsum dolor <span>sit amet</span></h1>
                <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <!-- prettier-ignore -->
                <Button type="primary" text="learn more" class="my-5" />
              </div>
              <div class="col-12 col-md-8">
                <img src="../../assets/slider-img.png" class="img-fluid" />
              </div>
            </div>
          </Slide>
        </Carousel>
      </div>
    </div>
  </div>
</div>
