<div class="login-form-wrapper container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-3">
            <h5 class="mb-4">Forgot Password</h5>
          </div>
          <div class="col-12 mb-3 d-flex">
            <Radio
              :value="userTypes.individual.title"
              name="loginType"
              class="mr-4"
              :selected="selectedUserType === userTypes.individual.title"
              @change="e => selectedUserType = e.value"
            />
            <Radio
              :value="userTypes.company.title"
              name="loginType"
              :selected="selectedUserType === userTypes.company.title"
              @change="e => selectedUserType = e.value"
            />
          </div>
          <div class="col-12 mb-3">
            <label>Enter your Username or Email</label>
            <!-- prettier-ignore -->
            <InputText class="inputText" placeholder="Enter Username" id="username" :value="username" :error="forgotPasswordValidation.username" errorText="Enter valid Username/Email Address" @value="updateUsername($event)" />
          </div>

          <div
            class="col-12 mt-2 d-flex justify-content-end align-items-center button-wrapper"
          >
            <div class="d-inline-flex">
              <!-- prettier-ignore -->
              <Button type="hollow" text="Cancel" class="mr-3" @click="cancelReset()" />
              <!-- prettier-ignore -->
              <Button type="primary" text="Submit" @click="forgotPassword()" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
