<div class="footer-wrapper container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-12 p-0 py-3 d-none d-lg-block">
            <div>&copy; Cars of UAE {{fullYear}}. All Rights Reserved</div>
          </div>
          <div class="col-12 p-0 d-lg-none mobile-footer-menu">
            <ul>
              <li>
                <router-link class="nav-link" to="/home"
                  ><font-awesome-icon :icon="['fas','home']" /><span
                    >Home</span
                  ></router-link
                >
              </li>
              <li>
                <router-link class="nav-link" to="/search"
                  ><font-awesome-icon :icon="['fas','search']" /><span
                    >Search</span
                  ></router-link
                >
              </li>
              <li v-if="loginInfo.isLoggedIn">
                <router-link class="nav-link" to="/profile"
                  ><font-awesome-icon :icon="['fas','user-alt']" /><span
                    >Profile</span
                  ></router-link
                >
              </li>
              <li v-else>
                <router-link class="nav-link" to="/login">
                  <font-awesome-icon :icon="['fas','user-alt']" /><span
                    >Login</span
                  ></router-link
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
