<Modal class="medium">
  <template v-slot:header>
    <h5>Instructions To Get Location Map</h5>

    <span @click="closeModal"
      ><font-awesome-icon :icon="['fas', 'times']" /></span
  ></template>

  <template v-slot:body>
    <p>
      <strong>
        <em
          >Note: This map embed option is only available from desktop version of
          google maps. (Google only provides the embed option from desktop. Not
          from mobile app.)</em
        ></strong
      >
    </p>
    <ol>
      <li>Go to the Google Maps website.</li>
      <li>Search for the location you want to feature in your embedded map.</li>
      <li>
        Click Share. Alternatively, you can click the three horizontal lines in
        the top left corner and choose Share or embed map from the menu that
        appears.
        <img src="../../assets/map1.jpg" class="img-fluid" />
      </li>
      <li>
        Click Embed a map to see a preview of the embed. Here, you can toggle
        the map area, zoom, type (street map or satellite map), and size.
        <img src="../../assets/map2.jpg" class="img-fluid" />
      </li>
      <li>Click Copy HTML.</li>
      <li>In the form, paste the copied HTML.</li>
    </ol>
  </template>
  <template v-slot:footer>
    <div class="col-12 p-0 mt-4 d-flex">
      <!-- prettier-ignore -->
      <Button type="hollow" width="100%" text="Close" @click="closeModal" class="mr-2" />
    </div>
  </template>
</Modal>
