<div class="input-file-wrapper" :class="error && 'error'">
  <input
    type="file"
    :id="id"
    :placeholder="placeholder"
    :name="value"
    @input="e => updateValue(e)"
    autocomplete="off"
    v-bind="$attrs"
    multiple
  />
  <span v-if="error">{{errorText}}</span>
  <!-- <div v-for="file in fileList" class="image-list">{{file.name}}</div> -->
  <div class="image-info" v-if="fileList.length">
    <font-awesome-icon :icon="['fas', 'info-circle']" />Only files shown here
    will be uploaded. If you can't find any image you have selected, it is not
    valid.
  </div>
  <div
    v-show="fileList.length"
    :id="multiple ? `image-multiple-${id}` : `image-${id}`"
  ></div>
</div>
