<div class="new-spare-parts-form-wrapper container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-3">
            <h5 class="mt-5 mb-4">Post a new Spare Ad</h5>
          </div>
          <div class="col-12 mb-3">
            <label>Select Spare Type <span>*</span></label>
            <!-- prettier-ignore -->
            <Select :options="sparePartsCategoryList"
              default="Select Type" @selectValue="getCategoryOptions($event)" />
          </div>
          <Cars v-if="selectedSpareType==='Cars'"/>
          <Bikes v-if="selectedSpareType==='Bikes'"/>
          <Apparels v-if="selectedSpareType==='Apparel'"/>
          <Hobbyist v-if="selectedSpareType==='Hobbyist'"/>
          <HeavyVehicles v-if="selectedSpareType==='Heavy'"/> 
        </div>
      </div>
    </div>
  </div>
</div>
