.checkbox-wrapper {
  display: inline-flex;
  user-select: none;
  align-content: center;
  text-align: center;
  align-items: flex-start;
  flex-wrap: nowrap;

  .icon {
    color: rgba($black, 0.2);
    height: 1.125rem;
    width: 1.125rem;
    font-size: 1.125rem;
    display: flex;
    transition: 0.3s ease;
    &:hover {
      color: $purple;
    }
    &.checked,
    &.indeterminate {
      color: $purple;
    }
    &.disabled {
      color: rgba($black, 0.1);
      pointer-events: none;
      cursor: not-allowed;
      &.checked,
      &.indeterminate {
        color: $purple-20;
      }
    }
  }

  .label {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1rem;
    padding-left: 10px;
    word-break: break-word;
    text-align: left;
    span {
      color: $red;
    }
  }

  &.error {
    .icon {
      color: rgba($red, 0.8);
    }
    .label {
      color: rgba($red, 0.8);
    }
    .error-text {
      color: rgba($red, 0.8);
      font-size: 0.75rem;
      font-style: italic;
      display: flex;
      width: 100%;
    }
  }
}
