<div class="motorcycles-wrapper">
  <div class="col-12 mb-3">
    <label>
      Select Brand
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="brandsList" :error="newPostValidation.brand" errorText="Select Brand" default="Select Brand"
    @selectValue="updatePostData('brand', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Select Model
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="modelsList" :error="newPostValidation.model" errorText="Select Model" default="Select Model"
    @selectValue="updatePostData('model', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Select SubCategory
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.motorcycleSubcateList()" :error="newPostValidation.subcategory" errorText="Select SubCategory" default="Select SubCategory"
    @selectValue="updatePostData('subcategory', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Enter Name
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <InputText class="inputText" :error="newPostValidation.name" errorText="Enter Name" placeholder="Enter Name"
    id="name" :value="newPost.name" @value="updatePostData('name', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Phone
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <InputText class="inputText" :error="newPostValidation.phone" errorText="Enter Phone Number"
    placeholder="Enter Phone Number" id="phone" :value="newPost.phone" @value="updatePostData('phone', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Email
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <InputText class="inputText" :error="newPostValidation.email" errorText="Enter Email Address"
    placeholder="Enter Email Address" id="email" :value="newPost.email" @value="updatePostData('email', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Place
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <InputText class="inputText" :error="newPostValidation.place" errorText="Enter Place" placeholder="Enter Place"
    id="place" :value="newPost.place" @value="updatePostData('place', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>Display Picture</label>
    <!-- prettier-ignore -->
    <InputFile class="inputText" :error="newPostValidation.displayPicture" errorText="Choose a valid display picture"
    type="file" accept="image/*" placeholder="Select a Display picture" name="displayPicture" id="displayPicture"
    :value="newPost.displayPicture" @value="updatePostData('displayPicture', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Upload 10 gallery images (Minimum of 1 image)
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <InputFile class="inputText" :error="newPostValidation.galleryImages" errorText="Choose gallery images (minimum 1)"
    type="file" accept="image/*" multiple name="galleryImages[]" id="galleryImages" :value="newPost.galleryImages"
    @value="updatePostData('galleryImages', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Select Final Drive System
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.motorCyclefDSystemList()" :error="newPostValidation.finalDriveSystem" errorText="Select Final Drive System"
    default="Select Final Drive System" @selectValue="updatePostData('finalDriveSystem', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>Select Wheels</label>
    <!-- prettier-ignore -->
    <Select :options="utils.wheelsDropdownValues()" :error="newPostValidation.wheels" errorText="Select Wheels" default="Select Wheels"
    @selectValue="updatePostData('wheels', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>Select Engine Size </label>
    <!-- prettier-ignore -->
    <Select :options="utils.motorCycleEngineSizeList()" :error="newPostValidation.engineSize" errorText="Select Engine Size " default="Select Engine Size "
    @selectValue="updatePostData('engineSize', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>Select Sub Specification </label>
    <!-- prettier-ignore -->
    <Select :options="utils.motorCycleSubSpecList()" :error="newPostValidation.subSpecification" errorText="Select Sub Specification " default="Select Sub Specification "
    @selectValue="updatePostData('subSpecification', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>Select Regional spec </label>
    <!-- prettier-ignore -->
    <Select :options="utils.motorCycleRegionalSpecList()" :error="newPostValidation.regionalSpec" errorText="Select Regional spec " default="Select Regional spec "
    @selectValue="updatePostData('regionalSpec', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>Select Price to price Value</label>
    <!-- prettier-ignore -->
    <Select :options="utils.PriceToPriceList()" :error="newPostValidation.priceToPrice" errorText="Select Price To Price Value" default="Select Price To Price Value "
    @selectValue="updatePostData('priceToPrice', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Select Exterior Color
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.colorDropDownValues()" :error="newPostValidation.exteriorColor"
    errorText="Select Exterior Color" default="Select Exterior Color"
    @selectValue="updatePostData('exteriorColor', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Body Condition
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.bodyConditionDropDownValues()" :error="newPostValidation.bodyCondition"
    errorText="Select Body Condition" default="Select Body Condition"
    @selectValue="updatePostData('bodyCondition', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Mechanical Condition
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.mechanicalConditionDropDownValues()" :error="newPostValidation.mechanicalCondition"
    errorText="Select Mechanical Condition" default="Select Mechanical Condition"
    @selectValue="updatePostData('mechanicalCondition', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Select Seller Type
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.sellerTypes()" :error="newPostValidation.sellerType" errorText="Select Seller Type"
    default="Select Seller Type" @selectValue="updatePostData('sellerType', $event)" />
  </div>
  <div
    class="col-12 mt-3 mb-5 d-flex justify-content-between align-items-center button-wrapper"
  >
    <!-- prettier-ignore -->
    <Button type="hollow" text="Cancel" class="mr-3" @click="cancelPost()" />
    <!-- prettier-ignore -->
    <Button type="primary" text="Submit Post" @click="submitPost()" />
  </div>
</div>
