$black: #000000;
$white: #ffffff;

$purple: #e90cba;
$purple-90: rgba($purple, 0.9);
$purple-80: rgba($purple, 0.8);
$purple-70: rgba($purple, 0.7);
$purple-60: rgba($purple, 0.6);
$purple-50: rgba($purple, 0.5);
