<div class="sort-wrapper container-fluid mb-5 p-4">
  <div class="container p-0">
    <div class="row">
      <div class="col-12 mb-3 heading">
        <h5>Sort By</h5>
        <font-awesome-icon :icon="['fas', 'times']" @click="closeFilter" />
      </div>
      <div class="col-12">
        <ul class="sort-options m-0">
          <li class="active">Default</li>
          <li>Newest to Oldest</li>
          <li>Oldest to Newest</li>
          <li>Price Highest to Lowest</li>
          <li>Price Lowest to Highest</li>
        </ul>
      </div>
    </div>
  </div>
</div>
