<div class="sort-wrapper container-fluid mb-5 p-4">
  <div class="container p-0">
    <div class="row">
      <div class="col-12 mb-3 heading">
        <h5>Sort By</h5>
        <font-awesome-icon :icon="['fas', 'times']" @click="closeFilter" />
      </div>
      <div class="col-12">
        <ul class="sort-options m-0">
          <li
            @click="applySort('old')"
            :class="sortCriteria === 'old' && 'active'"
          >
            Oldest to Newest
          </li>
          <li
            @click="applySort('new')"
            :class="sortCriteria === 'new' && 'active'"
          >
            Newest to Oldest
          </li>
          <li
            @click="applySort('high')"
            :class="sortCriteria === 'high' && 'active'"
          >
            Price Highest to Lowest
          </li>
          <li
            @click="applySort('low')"
            :class="sortCriteria === 'low' && 'active'"
          >
            Price Lowest to Highest
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
