<div class="accessories-wrapper">
  <div class="col-12 mb-3">
    <label>
      Select Type
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="accessoriesTypeList" :error="newPostValidation.type" errorText="Select Type"
      default="Select Type" @selectValue="updatePostData('type', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Select Category
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="accessoriesCategoryList" :error="newPostValidation.category" errorText="Select Category"
      default="Select Category" @selectValue="updatePostData('category', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Select Sub Category
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="subCategoryList" :error="newPostValidation.subcategory" errorText="Select Sub Category"
      default="Select Sub Category" @selectValue="updatePostData('subcategory', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Select Item
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="accessoryItemList" :error="newPostValidation.accessoryItem" errorText="Select Item"
      default="Select Item" @selectValue="updatePostData('accessoryItem', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Price
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <InputText class="inputText" :error="newPostValidation.price" errorText="Enter Price" placeholder="Enter Price"
      id="price" :value="newPost.price" @value="updatePostData('price', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Select Seller Type
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.sellerTypes(loginInfo.userType)" :error="newPostValidation.sellerType" errorText="Select Seller Type"
      default="Select Seller Type" @selectValue="updatePostData('sellerType', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Select Condition
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.boatConditionDropdownValues()" :error="newPostValidation.accessoriesCondition"
      errorText="Select Condition" default="Select Condition" @selectValue="updatePostData('accessoriesCondition', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Select Usage
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.boatHistoryDropdownValues()" :error="newPostValidation.accessoriesUsage" errorText="Select Usage"
      default="Select Usage" @selectValue="updatePostData('accessoriesUsage', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Select Warranty
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.yesNoDropdownValues()" :error="newPostValidation.warranty" errorText="Select Warranty"
      default="Select Warranty" @selectValue="updatePostData('warranty', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Location
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.emiratesLocationList()" :error="newPostValidation.place" errorText="Select Place"
      default="Select Place" @selectValue="updatePostData('place', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Name
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <InputText class="inputText" :error="newPostValidation.name" errorText="Enter Name" placeholder="Enter Name"
      id="name" :value="newPost.name" @value="updatePostData('name', $event)" />
  </div>

  <div class="col-12 mb-3">
    <label>
      Phone
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <InputText class="inputText" :error="newPostValidation.phone" errorText="Enter Phone Number with Country Code" placeholder="Enter Phone Number with Country Code"
      id="phone" :value="newPost.phone" @value="updatePostData('phone', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>Whatsapp Number <span>*</span></label>
    <!-- prettier-ignore -->
    <InputText class="inputText" :error="newPostValidation.whatsappNumber"
      errorText="Enter valid Whatsapp Number with country code" placeholder="Enter Whatsapp Number with Country Code"
      id="whatsappNumber" :value="newPost.whatsappNumber"
      @value="updatePostData('whatsappNumber', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Email
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <InputText class="inputText" :error="newPostValidation.email" errorText="Enter Email" placeholder="Enter Email"
      id="email" :value="newPost.email" @value="updatePostData('email', $event)" />
  </div>

  <div class="col-12 mb-3">
    <label>
      Upload 10 gallery images (Minimum of 1 image)
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <InputFile class="inputText" :error="newPostValidation.galleryImages" errorText="Choose gallery images (minimum 1)"
      type="file" accept="image/*" multiple name="galleryImages[]" id="galleryImages" :value="newPost.galleryImages"
      @value="updatePostData('galleryImages', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>Display Picture<span>*</span></label>
    <!-- prettier-ignore -->
    <InputFile class="inputText" :error="newPostValidation.displayPicture" errorText="Choose a display picture"
      type="file" accept="image/*" placeholder="Select a Display picture" name="displayPicture" id="displayPicture"
      :value="newPost.displayPicture" @value="updatePostData('displayPicture', $event)" />
  </div>
  <div
    class="col-12 mt-3 mb-5 d-flex justify-content-between align-items-center button-wrapper"
  >
    <!-- prettier-ignore -->
    <Button type="hollow" text="Cancel" class="mr-3" @click="cancelPost()" />
    <!-- prettier-ignore -->
    <Button type="primary" text="Submit Post" @click="submitPost()" />
  </div>
</div>
