<div class="new-garage-form-wrapper container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-3">
            <h5 class="mt-5 mb-4">Post your Garage</h5>
          </div>
          <div class="col-12 mb-3">
            <label>Name <span>*</span></label>
            <!-- prettier-ignore -->
            <InputText class="inputText" :error="newGarageValidation.name" errorText="Enter Name"
              placeholder="Enter Name" id="description" :value="newGarage.name"
              @value="updateGarageData('name', $event)" />
          </div>
          <div class="col-12 mb-3">
            <label>Description <span>*</span></label>
            <!-- prettier-ignore -->
            <TextArea
              class="inputText"
              placeholder="Enter Description"
              :error="newGarageValidation.description"
              errorText="Enter Description"
              @value="updateGarageData('description', $event)"
              id="description"
              :value="newGarage.description"
            />
          </div>
          <div class="col-12 mb-3">
            <label>Location <span>*</span></label>
            <!-- prettier-ignore -->
            <Select :options="locationOptions" :error="newGarageValidation.place" errorText="Select your location"
                default="Select Location" @selectValue="updateGarageData('place', $event)" />
          </div>
          <div class="col-12 mb-3">
            <label>Phone <span>*</span></label>
            <!-- prettier-ignore -->
            <InputText class="inputText" :error="newGarageValidation.phone" errorText="Enter Phone Number with Country Code"
              placeholder="Enter Phone Number with Country Code" id="phone" :value="newGarage.phone"
              @value="updateGarageData('phone', $event)" />
          </div>
          <div class="col-12 mb-3">
            <label>Whatsapp Number <span>*</span></label>
            <!-- prettier-ignore -->
            <InputText class="inputText" :error="newGarageValidation.whatsappNumber"
              errorText="Enter valid Whatsapp Number with country code" placeholder="Enter Whatsapp Number with Country Code"
              id="whatsappNumber" :value="newGarage.whatsappNumber"
              @value="updateGarageData('whatsappNumber', $event)" />
          </div>
          <div class="col-12 mb-3">
            <label>Email <span>*</span></label>
            <!-- prettier-ignore -->
            <InputText class="inputText" :error="newGarageValidation.email" errorText="Enter Email Address"
              placeholder="Enter Email Address" id="email" :value="newGarage.email"
              @value="updateGarageData('email', $event)" />
          </div>

          <div class="col-12 mb-3">
            <label>Profile Picture</label>
            <!-- prettier-ignore -->
            <InputFile class="inputText" :error="newGarageValidation.profilePicture"
              errorText="Choose a Profile picture" type="file" accept="image/*" placeholder="Select a Profile picture"
              name="profilePicture" id="profilePicture" :value="newGarage.profilePicture"
              @value="updateGarageData('profilePicture', $event)" />
          </div>
          <div class="col-12 mb-3">
            <label
              >Upload 10 gallery images (Minimum of 1 image)
              <span>*</span></label
            >
            <!-- prettier-ignore -->
            <InputFile class="inputText" :error="newGarageValidation.galleryImages"
              errorText="Choose gallery images (minimum 1)" type="file" accept="image/*" multiple
              name="galleryImages[]" id="galleryImages" :value="newGarage.galleryImages"
              @value="updateGarageData('galleryImages', $event)" />
          </div>

          <div class="col-12 mb-3 mt-3">
            <label>Open Times <span>*</span></label>
            <!-- prettier-ignore -->
            <OpenTimes :error="newGarageValidation.openTimes"
            errorText="Choose timings for all days" @value="updateGarageData('openTimes', $event)" />
          </div>

          <div class="col-12 mb-3">
            <label>Select Services <span>*</span></label>
            <!-- prettier-ignore -->
            <div class="service-wrapper">
              <span v-for="service in garageServiceList" class="service-list">
                <Checkbox :value="isSelected(service.id)" :label="service.title" @change="updateGarageServiceList(service.id)" />
              </span>
              <div class="error-text" v-if="newGarageValidation.services">Select atleast one service you provide</div>
            </div>
          </div>
          <div class="col-12 mb-3 mt-3">
            <label>Social media links (if any)</label>
            <!-- prettier-ignore -->
            <InputText class="inputText" placeholder="Enter Facebook url" id="facebook"
              :value="newGarage.facebook" @value="updateGarageData('facebook', $event)" />
            <InputText
              class="inputText"
              placeholder="Enter Instagram url"
              id="instagram"
              :value="newGarage.instagram"
              @value="updateGarageData('instagram', $event)"
            />
            <InputText
              class="inputText"
              placeholder="Enter LinkedIn url"
              id="linkedin"
              :value="newGarage.linkedin"
              @value="updateGarageData('linkedin', $event)"
            />
          </div>

          <div
            class="col-12 mt-3 mb-5 d-flex justify-content-between align-items-center button-wrapper"
          >
            <!-- prettier-ignore -->
            <Button type="hollow" text="Cancel" class="mr-3" @click="cancelPost()" />
            <!-- prettier-ignore -->
            <Button type="primary" text="Submit Garage" @click="submitPost()" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
