<div class="post-filter-wrapper container-fluid mb-5 p-4 pb-5">
  <div class="container p-0 pb-4">
    <div class="row">
      <div class="col-12 mb-5 heading">
        <h5>Select Filter Options</h5>
        <font-awesome-icon :icon="['fas', 'times']" @click="closeFilter" />
      </div>
    </div>
    <div class="row" v-if="getCategory=='used-cars'">
      <div class="col-12 col-lg-3 filter-column">
        <label>Regional Specs</label>
        <!-- prettier-ignore -->
        <Select :options="utils.regionalspecsDropDownValues()" placeholder="Select Regional Specs" @selectValue="updateFilterData('regionalSpecs', $event)" :selected="filterData.regionalSpecs" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Body Type</label>
        <!-- prettier-ignore -->
        <Select :options="utils.bodyType()" placeholder="Select Body Type" @selectValue="updateFilterData('bodyType', $event)" :selected="filterData.bodyType" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Warranty</label>
        <!-- prettier-ignore -->
        <Select :options="utils.yesNoDropdownValues()" placeholder="Select Warranty" @selectValue="updateFilterData('warranty', $event)" :selected="filterData.warranty" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>No.of Cylinders</label>
        <!-- prettier-ignore -->
        <Select :options="utils.numberOfCylinderDropdownValues()" placeholder="Select No.of Cylinders" @selectValue="updateFilterData('cylinders', $event)" :selected="filterData.cylinders" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Transmission Type</label>
        <!-- prettier-ignore -->
        <Select :options="utils.transmissionTypes()" placeholder="Select Transmission Type" @selectValue="updateFilterData('transmission', $event)" :selected="filterData.transmission" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Horse Power</label>
        <!-- prettier-ignore -->
        <Select :options="utils.horsePowerOptions()" placeholder="Select Horse Power" @selectValue="updateFilterData('horsePower', $event)" :selected="filterData.horsePower" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Fuel Type</label>
        <!-- prettier-ignore -->
        <Select :options="utils.fuelTypes()" placeholder="Select Fuel Type" @selectValue="updateFilterData('fuel', $event)" :selected="filterData.fuel" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Steering Side</label>
        <!-- prettier-ignore -->
        <Select :options="utils.steeringSideOptions()" placeholder="Select Steering Side" @selectValue="updateFilterData('steeringSide', $event)" :selected="filterData.steeringSide" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Exterior Color</label>
        <!-- prettier-ignore -->
        <Select :options="utils.colorDropDownValues()" placeholder="Select Exterior Color" @selectValue="updateFilterData('exteriorColor', $event)" :selected="filterData.exteriorColor" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Interior Color</label>
        <!-- prettier-ignore -->
        <Select :options="utils.colorDropDownValues()" placeholder="Select Interior Color" @selectValue="updateFilterData('interiorColor', $event)" :selected="filterData.interiorColor" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Doors</label>
        <!-- prettier-ignore -->
        <Select :options="utils.numberOfDoorDropdownValues()" placeholder="Select Doors" @selectValue="updateFilterData('doors', $event)" :selected="filterData.doors" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Body Condition</label>
        <!-- prettier-ignore -->
        <Select :options="utils.bodyConditionDropDownValues()" placeholder="Select Body Condition" @selectValue="updateFilterData('bodyCondition', $event)" :selected="filterData.bodyCondition" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Mechanical Condition</label>
        <!-- prettier-ignore -->
        <Select :options="utils.mechanicalConditionDropDownValues()" placeholder="Select Mechanical Condition" @selectValue="updateFilterData('mechanicalCondition', $event)" :selected="filterData.mechanicalCondition" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Seller Type</label>
        <!-- prettier-ignore -->
        <Select :options="utils.sellerTypes()" placeholder="Select Seller Type" @selectValue="updateFilterData('sellerType', $event)" :selected="filterData.sellerType" />
      </div>
    </div>

    <!--MOTORCYCLES FILTERS-->

    <div class="row" v-if="getCategory=='motorcycles'">
      <div class="col-12 col-lg-3 filter-column">
        <label>Sub Category</label>
        <!-- prettier-ignore -->
        <Select :options="utils.motorcycleSubcateList()" placeholder="Select Sub Category" @selectValue="updateFilterData('subcategory', $event)" :selected="filterData.subcategory" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Final Drive System</label>
        <!-- prettier-ignore -->
        <Select :options="utils.motorCyclefDSystemList()" placeholder="Select Final Drive System" @selectValue="updateFilterData('finalDriveSystem', $event)" :selected="filterData.finalDriveSystem" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Wheels</label>
        <!-- prettier-ignore -->
        <Select :options="utils.wheelsDropdownValues()" placeholder="Select Wheels" @selectValue="updateFilterData('wheels', $event)" :selected="filterData.wheels" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Price</label>
        <!-- prettier-ignore -->
        <InputText class="inputText" placeholder="min" @value="" />
        <InputText class="inputText" placeholder="max" @value="" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Engine Size</label>
        <!-- prettier-ignore -->
        <Select :options="utils.motorCycleEngineSizeList()" placeholder="Select Engine Size" @selectValue="updateFilterData('engineSize', $event)" :selected="filterData.engineSize" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Regional spec</label>
        <!-- prettier-ignore -->
        <Select :options="utils.motorCycleRegionalSpecList()" placeholder="Select Regional spec" @selectValue="updateFilterData('regionalSpec', $event)" :selected="filterData.regionalSpec" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Exterior color</label>
        <!-- prettier-ignore -->
        <Select :options="utils.colorDropDownValues()" placeholder="Select Exterior color" @selectValue="updateFilterData('exteriorColor', $event)" :selected="filterData.exteriorColor" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Body condition</label>
        <!-- prettier-ignore -->
        <Select :options="utils.bodyConditionDropDownValues()" placeholder="Select Body condition" @selectValue="updateFilterData('bodyCondition', $event)" :selected="filterData.bodyCondition" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Mechanical Condition</label>
        <!-- prettier-ignore -->
        <Select :options="utils.mechanicalConditionDropDownValues()" placeholder="Select Mechanical Condition" @selectValue="updateFilterData('mechanicalCondition', $event)" :selected="filterData.mechanicalCondition" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Seller type </label>
        <!-- prettier-ignore -->
        <Select :options="utils.sellerTypes()" placeholder="Select Seller type" @selectValue="updateFilterData('sellerType', $event)" :selected="filterData.sellerType" />
      </div>
    </div>

    <!--BOATS FILTERS-->

    <div class="row" v-if="getCategory=='boats'">
      <div class="col-12 col-lg-3 filter-column">
        <label>Sub Category</label>
        <!-- prettier-ignore -->
        <Select :options="utils.subcategoryDropDownValues('boats')" placeholder="Select Sub Category" @selectValue="updateFilterData('subCategory', $event)" :selected="filterData.subCategory" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Age</label>
        <!-- prettier-ignore -->
        <Select :options="utils.ageDropDownValues()" placeholder="Select Age" @selectValue="updateFilterData('age', $event)" :selected="filterData.age" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Condition</label>
        <!-- prettier-ignore -->
        <Select :options="utils.boatConditionDropdownValues()" placeholder="Select Condition" @selectValue="updateFilterData('boatCondition', $event)" :selected="filterData.boatCondition" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>History</label>
        <!-- prettier-ignore -->
        <Select :options="utils.boatHistoryDropdownValues()" placeholder="Select History" @selectValue="updateFilterData('boatHistory', $event)" :selected="filterData.boatHistory" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Length</label>
        <!-- prettier-ignore -->
        <Select :options="utils.lengthDropdownValues()" placeholder="Select Length" @selectValue="updateFilterData('length', $event)" :selected="filterData.length" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Warranty</label>
        <!-- prettier-ignore -->
        <Select :options="utils.yesNoDropdownValues()" placeholder="Select Warranty" @selectValue="updateFilterData('warranty', $event)" :selected="filterData.warranty" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Seller type </label>
        <!-- prettier-ignore -->
        <Select :options="utils.sellerTypes()" placeholder="Select Seller type" @selectValue="updateFilterData('sellerType', $event)" :selected="filterData.sellerType" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Price</label>
        <!-- prettier-ignore -->
        <InputText class="inputText" placeholder="min" @value="" />
        <InputText class="inputText" placeholder="max" @value="" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Year</label>
        <!-- prettier-ignore -->
        <InputText class="inputText" placeholder="min" @value="" />
        <InputText class="inputText" placeholder="max" @value="" />
      </div>
    </div>

    <!--TRUCKS FILTERS-->

    <div class="row" v-if="getCategory=='truck'">
      <div class="col-12 col-lg-3 filter-column">
        <label>Sub Category</label>
        <!-- prettier-ignore -->
        <Select :options="utils.truckSubCategoryList()" placeholder="Select Sub Category" @selectValue="updateFilterData('subCategory', $event)" :selected="filterData.subCategory" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>No of Cylinders</label>
        <!-- prettier-ignore -->
        <Select :options="utils.numberOfCylinderDropdownValues()" placeholder="Select No of Cylinders" @selectValue="updateFilterData('cylinders', $event)" :selected="filterData.cylinders" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Horse Power</label>
        <!-- prettier-ignore -->
        <Select :options="utils.truckHorsPowrList()" placeholder="Select Horse Power" @selectValue="updateFilterData('horsePower', $event)" :selected="filterData.horsePower" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Price</label>
        <!-- prettier-ignore -->
        <InputText class="inputText" placeholder="min" @value="" />
        <InputText class="inputText" placeholder="max" @value="" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Year</label>
        <!-- prettier-ignore -->
        <InputText class="inputText" placeholder="min" @value="" />
        <InputText class="inputText" placeholder="max" @value="" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Mileage</label>
        <!-- prettier-ignore -->
        <InputText class="inputText" placeholder="min" @value="" />
        <InputText class="inputText" placeholder="max" @value="" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Fuel Type</label>
        <!-- prettier-ignore -->
        <Select :options="utils.fuelTypes()" placeholder="Select Fuel Type" @selectValue="updateFilterData('fuel', $event)" :selected="filterData.fuel" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Warranty</label>
        <!-- prettier-ignore -->
        <Select :options="utils.yesNoDropdownValues()" placeholder="Select Warranty" @selectValue="updateFilterData('warranty', $event)" :selected="filterData.warranty" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Seller type </label>
        <!-- prettier-ignore -->
        <Select :options="utils.sellerTypes()" placeholder="Select Seller type" @selectValue="updateFilterData('sellerType', $event)" :selected="filterData.sellerType" />
      </div>
    </div>

    <!--NUMBERPLATES FILTERS-->

    <div class="row" v-if="getCategory=='number-plates'">
      <div class="col-12 col-lg-3 filter-column">
        <label>Sub Category</label>
        <!-- prettier-ignore -->
        <Select :options="utils.numPlatesSubCatList()" placeholder="Select Sub Category" @selectValue="updateFilterData('subCategory', $event)" :selected="filterData.subCategory" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Emirate</label>
        <!-- prettier-ignore -->
        <Select :options="utils.emiratesLocationList()" placeholder="Select Final Drive System" @selectValue="updateFilterData('emirate', $event)" :selected="filterData.emirate" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>No of Digits</label>
        <!-- prettier-ignore -->
        <Select :options="utils.numPlatesDigitsList()" placeholder="Select Wheels" @selectValue="updateFilterData('digits', $event)" :selected="filterData.digits" />
      </div>
    </div>

    <!--ACCESSORIES FILTERS-->

    <div class="row" v-if="getCategory=='accessories-and-parts'">
      <div class="col-12 col-lg-3 filter-column">
        <label>Condition</label>
        <!-- prettier-ignore -->
        <Select :options="utils.boatConditionDropdownValues()" placeholder="Select Condition" @selectValue="updateFilterData('accessoriesCondition', $event)" :selected="filterData.accessoriesCondition" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>History</label>
        <!-- prettier-ignore -->
        <Select :options="utils.boatHistoryDropdownValues()" placeholder="Select History" @selectValue="updateFilterData('accessoriesUsage', $event)" :selected="filterData.accessoriesUsage" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Warranty</label>
        <!-- prettier-ignore -->
        <Select :options="utils.yesNoDropdownValues()" placeholder="Select Warranty" @selectValue="updateFilterData('warranty', $event)" :selected="filterData.warranty" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Seller type </label>
        <!-- prettier-ignore -->
        <Select :options="utils.sellerTypes()" placeholder="Select Seller type" @selectValue="updateFilterData('sellerType', $event)" :selected="filterData.sellerType" />
      </div>

      <div class="col-12 col-lg-3 filter-column">
        <label>Price</label>
        <!-- prettier-ignore -->
        <InputText class="inputText" placeholder="min" @value="" />
        <InputText class="inputText" placeholder="max" @value="" />
      </div>
    </div>

    <div class="col-12 button-wrapper d-flex justify-content-end my-3">
      <!-- prettier-ignore -->
      <Button type="hollow" text="Cancel" class="mr-3" @click="closeFilter" />
      <!-- prettier-ignore -->
      <Button type="primary" text="Apply" @click="applyFilter" />
    </div>
  </div>
</div>
