<div class="boat-wrapper">
  <div class="col-12 mb-3">
    <label>
      Select Sub Category
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.subcategoryDropDownValues()" :error="newPostValidation.subCategory" errorText="Select Sub Category" default="Select Sub Category"
    @selectValue="updatePostData('subCategory', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Name
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <InputText class="inputText" :error="newPostValidation.name" errorText="Enter Name"
    placeholder="Enter Name" id="name" :value="newPost.name" @value="updatePostData('name', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Select Age
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.ageDropDownValues()" :error="newPostValidation.age" errorText="Select Age" default="Select Age"
    @selectValue="updatePostData('age', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Phone
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <InputText class="inputText" :error="newPostValidation.phone" errorText="Enter Phone"
    placeholder="Enter Phone" id="phone" :value="newPost.phone" @value="updatePostData('phone', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Email
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <InputText class="inputText" :error="newPostValidation.email" errorText="Enter Email"
    placeholder="Enter Email" id="email" :value="newPost.email" @value="updatePostData('email', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Place
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <InputText class="inputText" :error="newPostValidation.place" errorText="Enter Place"
    placeholder="Enter Place" id="place" :value="newPost.place" @value="updatePostData('place', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Upload 10 gallery images (Minimum of 1 image)
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <InputFile class="inputText" :error="newPostValidation.galleryImages" errorText="Choose gallery images (minimum 1)"
    type="file" accept="image/*" multiple name="galleryImages[]" id="galleryImages" :value="newPost.galleryImages"
    @value="updatePostData('galleryImages', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>Display Picture</label>
    <!-- prettier-ignore -->
    <InputFile class="inputText" :error="newPostValidation.displayPicture" errorText="Choose a display picture"
    type="file" accept="image/*" placeholder="Select a Display picture" name="displayPicture" id="displayPicture"
    :value="newPost.displayPicture" @value="updatePostData('displayPicture', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Select Boat Condition
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.boatConditionDropdownValues()" :error="newPostValidation.boatCondition" errorText="Select Boat Condition"
    default="Select Boat Condition" @selectValue="updatePostData('boatCondition', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>Select Boat History</label>
    <!-- prettier-ignore -->
    <Select :options="utils.boatHistoryDropdownValues()" :error="newPostValidation.boatHistory" errorText="Select Boat History" default="Select Boat History"
    @selectValue="updatePostData('boatHistory', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Select Length
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.lengthDropdownValues()" :error="newPostValidation.length" errorText="Select Length" default="Select Length"
    @selectValue="updatePostData('length', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Select Warranty
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.yesNoDropdownValues()" :error="newPostValidation.warranty" errorText="Select Warranty" default="Select Warranty"
    @selectValue="updatePostData('warranty', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Select Seller Type
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.sellerTypes()" :error="newPostValidation.sellerType" errorText="Select Seller Type" default="Select Seller Type"
    @selectValue="updatePostData('sellerType', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Price
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <InputText class="inputText" :error="newPostValidation.price" errorText="Enter Price"
    placeholder="Enter Price" id="price" :value="newPost.price" @value="updatePostData('price', $event)" />
  </div>
  <div class="col-12 mb-3">
    <label>
      Select Year
      <span>*</span>
    </label>
    <!-- prettier-ignore -->
    <Select :options="utils.yearDropdownValues()" :error="newPostValidation.year" errorText="Select year" default="Select year"
    @selectValue="updatePostData('year', $event)" />
  </div>
  <div
    class="col-12 mt-3 mb-5 d-flex justify-content-between align-items-center button-wrapper">
    <!-- prettier-ignore -->
    <Button type="hollow" text="Cancel" class="mr-3" @click="cancelPost()" />
    <!-- prettier-ignore -->
    <Button type="primary" text="Submit Post" @click="submitPost()" />
  </div>
</div>
